@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';

:host(.progress-questionaire) {
	display: block;
	padding-top: 20px;
	padding-bottom: 35px;
	//background-color: red;
}

.progress-questionaire {
	&__wrap {
		display: flex;

		align-items: center;
	}


	&__step {
		display: flex;

		flex: 1;
		//width: 80px;
		align-items: center;
		&:first-of-type {
			//flex: 0;
			.progress-questionaire__bar {
				//display: none;
			}
			.progress-questionaire__title {
				left: 0;
				text-align: left;
				transform: translate3d(0,0,0);
			}
		}
		&:last-of-type {
			flex: 0;
			.progress-questionaire__title {
				left: auto;
				right: 0;
				text-align: right;
				transform: translate3d(0,0,0);
			}
			.progress-questionaire__point, .progress-questionaire__point__complete{
				//border-radius: 0;
			}
		}
		&.is-complete, &.is-current {
			.progress-questionaire__point__complete {
				width: 16px;
				height: 16px;
				border: 0px solid #fff;
				//transition-delay: .25s;
			}
			
		}
		&.is-complete {
			.progress-questionaire__bar__complete {
				width: 100%;
			}
		}
	}
	&__point {
		position: relative;
		z-index: 9;
		width: 20px;
		height: 20px;
		//margin-left: -1px;
		background-color: $color-main;
		border: 2px solid #fff;
		border-radius: 50%;

		flex: 0 0 20px;
		//overflow: hidden;
		&__complete {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0px;
			width: 0;
			height: 0;
			margin: 0 auto;
			background-color: $color-valid;
			border: 0px solid transparent;
			border-radius: 50%;
			transition: .2s;
			transform: translate3d(0,-50%,0);
			&.is-complete{
				width: 16px;
				height: 16px;
				border: 0px solid #fff;
			}
		}
	}
	&__bar {
		position: relative;
		width: calc(100% - 8px);
		height: 6px;
		margin-left: -1px;
		background-color: #e3e3e3;
		&__complete {
			width: 0;
			height: 100%;
			background-color: $color-valid;
			transition: .3s;
		}
	}

	&__title {
		position: absolute;
		top: 25px;
		left: 50%;
		width: 150px;
		text-align: center;
		transform: translate3d(-50%,0,0);
	}
}



