<div class="progress-questionaire__wrap">
	<!-- <div class="progress-questionaire__point">
		<div class="progress-questionaire__point__complete is-complete"></div>
	</div> -->
	<!-- <div class="progress-questionaire__step" *ngFor="let section of sections" [ngClass]="{'is-complete': step.id <= currentStep}"> -->
	<div class="progress-questionaire__step" *ngFor="let section of sections"
		[ngClass]="{'is-complete': section.number < activeSection, 'is-current': section.number == activeSection}">
		<div class="progress-questionaire__point">
			<div class="progress-questionaire__point__complete"></div>
			<div class="progress-questionaire__title title-info light">{{section.sectionName}}</div>
		</div>
		<div class="progress-questionaire__bar">
			<div class="progress-questionaire__bar__complete" [ngStyle]="{'width': updateWidth(section)}"></div>
		</div>
	</div>
	<div class="progress-questionaire__step">
		<div class="progress-questionaire__point">
			<div class="progress-questionaire__point__complete" [ngClass]="{'is-complete': isSubmited}"></div>
		</div>
	</div>
</div>

