<div class="modal modal--fullscreen">
	<div class="modal-close" (click)="closeConfirm()">
		<div class="modal-close__icon">
			<i class="icon icon--cross shadow"></i>
		</div>
		<div class="modal-close__text">Close</div>
	</div>
	<div class="modal__wrap-content">
		<header-marquee [title]="'Company Health Check'" class="small">			
		</header-marquee>
		<div class="page__content page__content--full " *ngIf="!isLoaded">
			<app-page-loader ></app-page-loader>
		</div>
		<div class="page__content page__content--full remaining-h" *ngIf="isSubmited">
			<div class="thanks-page">
				<h1 class="heading--1 center green">Thanks!</h1>
				<div class="wrap-text clearfix">
					<div class="m-loader">
						<div class="m-loader__loader"></div>
					</div>	
					<p class="paragraph s-3 center">
						Hold tight while we gather your results.
					</p>
				</div>
			</div>
		</div>
		<ng-container *ngIf="isLoaded && !isSubmited">
			<div class="container-fluid" >
				<progress-questionaire [sections]="sections" [activeSection]="activeSection" [activeQuestion]="activeQuestion" [isSubmited]="isSubmitedAnim"></progress-questionaire>
			</div>
			<div class="page__content page__content--full ">
				<div class="m-questionaire-wrapper">
					<div class="m-questionaire" scroll-questionaire
						[activeQuestion]="activeQuestion" [activeSection]="activeSection" [totalQuestions]="totalQuestions" [isLoaded]="isLoaded">
						<div class="m-questionaire__wrap" questionaire-wrap>
							<div class="m-questionaire__wrap__hidden-50"></div>
							<div class="container-fluid">
								<form class="m-questionaire__form" questionaire-form>
									<section class="m-questionaire__form__section"  id="sectionId-{{section.number}}"
										*ngFor="let section of sections; let i = index; let lastI = last" [attr.data-index]="i"
										[ngClass]="{'is-active':i+1 == activeSection, 'is-inactive':i+1 != activeSection, 'is-passed': i+1 < activeSection}">
										<div class="m-questionaire__form__section__title">
											<h2 class="title" [ngClass]="{'one-word-line': section.sectionName == 'HR Management'}">
												{{section.sectionName}}
											</h2>
										</div>
										<div class="m-questionaire__form__section__questions">
											<div class="card c-questionaire" id="questionId-{{question.number}}"
												*ngFor="let question of section.question; let j = index; let lastJ = last" [attr.data-index]="j"
												[ngClass]="{'is-inactive':question.number != activeQuestion, 'is-active':question.number == activeQuestion, 'is-passed': question.number < activeQuestion, 'is-pending': question.number > activeQuestion}">
												<div class="c-questionaire__header">
													<h3 class="heading--3 title">{{j+1}} - {{question.question}}</h3>
												</div>
												<div class="c-questionaire__content">
													<div class="radio-wrap">
														<label class="radiobox" *ngFor="let answer of question.answers">
															<input type="radio" value="true" [name]="question.questionId" class="radiobox__toggler" [disabled]="question.number != activeQuestion" (click)="onAnswerSelected(question,answer, $event)">
															<!-- <input type="radio" value="true" [(ngModel)]= "answer.isSelected" [name]="answer.answerId" class="radiobox__toggler" [disabled]="question.number != activeQuestion" (click)="onAnswerSelected(question,answer)"> -->
															<span class="radiobox__check"></span>
															<span class="radiobox__text">{{answer.answer}}</span>
														</label>
													</div>
												</div>
												<div class="c-questionaire__footer" >
													<div class="wrap-btns wrap-btns--right" >
														<a class="btn btn--large btn--transparent"  *ngIf="i > 0 || j > 0" (click)="prevQuestion()">Previous</a>
														<a class="btn btn--large btn--submit" [ngClass]="{'inactive': isAnswerSelected(question.number) == false}"  *ngIf="!lastI || !lastJ" (click)=" isAnswerSelected(question.number) && nextQuestion()">Next</a>
														<a class="btn btn--large btn--submit spin-load" *ngIf="lastI && lastJ" (click)="isAnswerSelected(question.number) && submitQuestionaire()" [ngClass]="{'inactive': isAnswerSelected(question.number) == false}">
															<span class="spin-load__load" *ngIf="isSubmited"></span>
															<span class="spin-load__text">submit</span>
														</a>						
													</div>
												</div>
											</div>
										</div>
									</section>
								</form>
							</div>
									<div class="m-questionaire__wrap__hidden-50"></div>
						</div>
						<div class="m-questionaire__nav v-center">
							<div class="m-prev-next-v">
								<div class="m-prev-next-v__pagination">
									<span class="m-prev-next-v__pagination__current"><span *ngIf="activeQuestion < 10">0</span>{{activeQuestion}}/</span><span class="m-prev-next-v__pagination__total"><span *ngIf="totalQuestions<10">0</span>{{totalQuestions}}</span>
								</div>
							</div>
						</div>
						<div class="m-questionaire__bg-bar v-center"></div>
					</div>
				</div>
			</div>
		</ng-container>

	</div>
</div>