@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';


.page__content--full {
	height: 100%;
	overflow: hidden;

	flex-grow: 1;
}


.m-questionaire-wrapper {
	height: 100%;
	transform: translate3d(0,0,0);
}
.m-questionaire {
	position: relative;
	height: 100%;
	overflow: hidden;
	background-color: $color-bg-light;

	&__bg-bar {
		position: absolute;
		//top: 0;
		width: 100%;
		height: 300px;
		background-color: $color-main;
	}
	&__wrap {
		position: relative;
		z-index: 9;
		height: 100%;
		overflow: hidden;
		/* position: absolute;
		top: 0;
		z-index: 9;
		width: 100%;
		transition: .3s; */

		@extend .clearfix;

		&__hidden-50 {
			height: 50%;
			visibility: hidden;
		}
	}

	&__form {
		position: relative;
		//float: left;
		width: 80%;
		padding: 0 20px;
		&__section {
			position: relative;
			margin-bottom: 100px;
			&.is-inactive {
				.m-questionaire__form__section__title {
					opacity: .4;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			&__title {
				position: absolute;
				left: 0;
				width: 200px;
				transition: opacity .2s;
				.title {
					position: relative;
					margin-top: 0;
					margin-bottom: 20px;
					font-family: $font-main-regular;
					font-size: 20px;
					font-weight: $font-main-weight-light;
					line-height: 1.6;
					color: $font-color-main;
					letter-spacing: 1.2px;
					transition: .3s;
				}
				&.is-active {
					position: fixed;
					left: 40px;
				}
				&.is-on-blue-bar {
					.title {
						color: #fff;
					}
				}
			}
			&__questions {
				padding-left: 200px;
			}
		}
	}
	&__nav {
		position: absolute;
		right: 0;
		z-index: 9;
		width: 20%;
		padding: 0 20px;
		.m-prev-next-v {
			float: right;
		}
	}
	&__titles {
		position: absolute;
		top: 0;
		left: 20px;
		z-index: 10;
		width: 200px;
		padding: 0 20px;
		&__title {
			position: fixed;
			left: 290px;
			width: 200px;
			visibility: hidden;
			&.is-active {
				visibility: visible;
			}
		}
	}
}

/* 
app-page-loader{
	z-index: 999;
	position: absolute!important;
	top: 0;
	left: 0;
}
 */

.dd-content {
	position: relative;
	z-index: 999;
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 90px;
	color: #fff;
}

.thanks-page {
	display: flex;
	height: 100%;
	flex-direction: column;

	justify-content: center;
	.wrap-text {
		display: flex;

		align-items: center;
		justify-content: center;
		.m-loader {
			display: inline-block;
			margin-right: 20px;
		}
	}
}


