<div class="modal modal--fullscreen">
	<div class="modal-close" (click)="close()">
		<div class="modal-close__icon">
			<i class="icon icon--cross shadow"></i>
		</div>
		<div class="modal-close__text">Close</div>
	</div>
	<div class="modal__wrap">
		<div class="modal__content">
			<header-marquee [title]="'Document Capture'"></header-marquee>
			<div class="page__content">
				<app-page-loader *ngIf="!isLoaded"></app-page-loader>
				<div class="container" *ngIf="isLoaded">
					<div class="doc-capture">
						<div class="doc-capture__btn">
							<a class="btn btn--large btn--add" [ngClass]="{'inactive': isDocumentFound() == false}" (click)="sendZipFile()">Send zip file</a>
						</div>
						<div class="doc-capture__sections">
							<section class="doc-capture__section" *ngFor="let type of prospectDocuments">
								<div class="title-info light mb-2">{{type.name}}</div>
								<document-add [title]="subType.name" *ngFor="let subType of type.subTypes" [documentType]="subType"></document-add>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>