@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';

.doc-capture{
	position: relative;
	&__sections{
		max-width: 550px;
		margin: 0 auto;
	}
	&__section{
		margin-bottom: 30px;
	}
	&__btn{
		text-align: center;
		margin-bottom: 30px;
		@media (min-width: $desktop-min-width) {
			float: right;
			margin-bottom: 0px;
			margin-top: 30px;
		}
	}
}