
.wrap-btns {
	margin-top: 20px;
	text-align: center;
	&--left {
		text-align: left;
	}
	&--right {
		text-align: right;
	}
	&.mt-0 {
		margin-top: 0;
	}
	&.mt-1 {
		margin-top: 10px;
	}

	.btn {
	}
}
.btn {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-size: $size-bt;
	font-weight: $font-main-weight-sm;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #000;
	border: 2px solid #000;
	border-radius: 30px;
	outline: none;
	transition: opacity .3s;
	&--large {
		padding: 16px 45px;
	}
	&--large-l-r {
		padding-right: 45px;
		padding-left: 45px;
	}
	&--no-p {
		padding: 0;
	}
	&:hover {
		opacity: .9;
	}
	@media (min-width: $desktop-min-width) {
		font-size: $size-bt;
	}
	&--icon-left {
		padding-left: 40px;
		.icon {
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translate3d(0,-50%,0);
		}
	}
	&--full-w {
		width: 100%;
	}
	&--add, &--submit {
		background-color: $color-secondary;
		border: 2px solid $color-secondary;
	}
	&--save {
		background-color: $color-main;
		border: 2px solid $color-main;
	}
	&--view {
		background-color: $color-valid;
		border: 2px solid $color-valid;
	}
	&--start {
		color: #297fca;
		background-color: transparent;
		border: 2px solid #297fca;
	}
	&--ghost {
		color: $font-color-main;
		background-color: transparent;
		border: 2px solid #000;
		&.pink {
			color: $color-secondary;
			background-color: transparent;
			border-color: $color-secondary;
		}
		&.alert, &.red {
			color: $color-alert;
			background-color: transparent;
			border-color: $color-alert;
		}
		&.valid, &.green {
			color: $color-valid;
			background-color: transparent;
			border-color: $color-valid;
		}
		&.blue {
			color: $color-main;
			background-color: transparent;
			border-color: $color-main;
		}
	}
	&--full {
		color: #fff;
		background-color: $font-color-main;
		border: 2px solid $font-color-main;
		&.pink {
			color: #fff;
			background-color: $color-secondary;
			border-color: $color-secondary;
		}
		&.alert, &.red {
			color: #fff;
			background-color: $color-alert;
			border-color: $color-alert;
		}
		&.valid, &.green {
			color: #fff;
			background-color: $color-valid;
			border-color: $color-valid;
		}
		&.blue {
			color: #fff;
			background-color: $color-main;
			border-color: $color-main;
		}
	}
	&--icon {
		padding-right: 45px;
		padding-left: 45px;

		.icon {
			position: absolute;
			top: 50%;
			left: 8px;
			transform: translate3d(0, -50%, 0);
		}
		&--right {
			.icon {
				right: 8px;
				left: auto;
			}
			&.btn--large {
				.icon {
					right: 15px;
				}
			}
		}
		&.btn--large {
			.icon {
				left: 15px;
			}
		}
	}
	&--transparent, &--link {
		color: $font-color-main;
		background-color: transparent;
		border-color: transparent;
		&.no-p {
			padding: 3px 0;
		}
	}
	&--link {
		color: $font-color-title;
		text-decoration: underline;
		&.white {
			color: #fff;
		}
		&.black {
			color: $font-color-main;
		}
		&.pink {
			color: $color-secondary;
		}
	}
	&--table {
		font-size: 10px;
		color: $font-color-main;
		background-color: transparent;
		border: none;
		&.btn--delete {
			padding-right: 0;
			color: $color-delete;
		}
	}
	&.inactive {
		cursor: default;
		opacity: .5;
	}
}
