.flexbox {
	.flex-row-stretch, .align-items-stretch {
		.card {
			flex: 1;
		}
	}
	.card {
	}
}
.card {
	display: flex;
	width: 100%;
	margin-bottom: 15px;
	flex-direction: column;
	background-color: #fff;
	box-shadow: $box-shadow;
	&__marquee {
		height: 110px;
		overflow: hidden;
		&--p {
			padding: 20px 30px 0 30px;
		}
		&--lp {
			padding: 40px 40px;
		}
		&.large {
			height: 180px;
		}
		img {
		}
	}
	&__content {
		display: flex;
		padding: 20px 30px;
		flex-direction: column;

		flex-grow: 1;
		&.large {
			padding: 40px;
		}
		&__category {
		}
		&__title {
			margin-bottom: 10px;
		}
		&__description {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&__btns {
			display: flex;

			align-items: center;
			&__icons {
				display: flex;

				flex-grow: 1;
				align-items: center;
				justify-content: flex-end;
			}
			.wrap-btns {
				margin-top: 0;

				flex: 1;
			}
			.wrap-i-circle {
				flex: 0 0 30px;
			}
		}
	}
	&__btns {
		display: flex;
		padding-right: 20px;
		padding-left: 20px;

		align-items: center;
		&__icons {
			display: flex;

			flex-grow: 1;
			align-items: center;
			justify-content: flex-end;
		}
		.wrap-btns {
			margin-top: 0;

			flex: 1;
		}
		.wrap-i-circle {
			flex: 0 0 30px;
		}
	}
}


.no-flexboxlegacy {
	.card {
		display: block;
		&__content {
			display: block;
		}
	}
}


//Specific cards
.c-questionaire {
	position: relative;
	padding: 25px 30px;
	margin-bottom: 10px;
	border-radius: 3px;
	opacity: 1;
	transition: .6s;
	&.is-inactive {
		opacity: .4;
		.c-questionaire__footer {
			visibility: hidden;
			opacity: 0;
		}
	}
	&.is-active {
		z-index: 9;
	}
	&.is-passed {
		transition: 1s;
		transform: translate3d(0,-200px,0);
	}
	&.is-pending {
		border-radius: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&__header {
		padding-bottom: 10px;
		border-bottom: 1px solid $color-border-light;
		.title {
			font-family: $font-main-regular;
			font-size: 24px;
			font-weight: $font-main-weight-light;
		}
	}
	&__content {
		padding-top: 20px;
	}
	&__footer {
		padding-top: 20px;
		transition: .3s;
	}
}

.c-prospect {
	position: relative;
	padding-top: 50px;
	padding-bottom: 60px;
	margin-bottom: 30px;
	&__title {
		margin-bottom: 5px;
	}
	&__description {
		margin-bottom: 10px;

		flex-grow: 1;
	}
	&__btns {
		padding-right: 40px;
		padding-left: 40px;
		.btn {
			margin-bottom: 0;
			/* &:last-child {
				margin-bottom: 0;
				} */
			&.btn-upload {
				position: absolute;
				right: 0;
				bottom: 15px;
				left: 0;
				width: 100%;
				max-width: 150px;
				padding-right: 25px;
				padding-left: 25px;
				margin: 0 auto;
			}
		}
	}
}
.no-flexboxlegacy {
	.c-prospect__description {
		height: 250px;
	}
}


.c-summary {
	&__question {
		margin-bottom: 5px;
	}
	&__answer {
		display: flex;

		align-items: center;
		.paragraph {
			padding-left: 10px;

			flex-grow: 1;
		}
		.icon {
			flex: 0 0 auto;
		}
	}
}
