
.no-flexboxlegacy{
	.progress-questionaire {
		&__wrap {
			display: block!important;
			@extend .clearfix;
		}
		&__step {
			display: block!important;
			float: left;
			width: calc(20% - 4px);
			&:last-of-type {
				width: 20px;
			}
		}
		&__point{
			float: left;
		}
		&__bar{
			float: left;
			top: 7px;
			width: calc(100% - 20px)!important;
		}
	}

	
}



.no-flexboxlegacy{
	.thanks-page {
		height: calc(100% - 290px)!important;
	}
}