.dropdown-wrap{
	position: relative;
	.dropdown{
		top: 100%;
	}
}
.dropdown {
	position: absolute;
	z-index: 99;
	padding: 15px 20px;
	visibility: hidden;
	background-color: #fff;
	box-shadow: $dropdown-shadow;
	opacity: 0;
	transition: .3s;
	transform: translate3d(0, -10px, 0);
	&.is-open {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	&--right {
		right: 0;
	}
	&.anim-from-bottom {
		transform: translate3d(0, -40%, 0);
	}
	&.anim-from-right {
		transform: translate3d(20px, 0px, 0);
	}
	&--v-center {
		top: 50%;
		transform: translate3d(0, -60%, 0);
		&.anim-from-right {
			transform: translate3d(20px, -50%, 0);
		}
		&.is-open {
			transform: translate3d(0, -50%, 0);
		}
	}
	&--center {
		transform: translate3d(-50%, -10px, 0);
		&.is-open {
			transform: translate3d(-50%, 0px, 0);
		}
	}
	
	&__list {
		list-style-type: none;
	}
	&__item {
		display: block;
	}
	&__link {
		display: block;
		padding: 2px 0;
		font-size: 14px;
		color: $font-color-main;
		//font-weight: $font-main-weight-regular;
		text-decoration: none;
		&.is-active, &:hover {
			//color: $color-main;
			text-decoration: underline;
		}
		.icon {
			margin-right: 10px;
		}
	}
}

.dd-edit-table {
	right: 20px;
	width: 220px;
	.dropdown__list {
		text-align: center;
	}
	.dropdown__item {
		display: inline-block;
		padding: 0 10px;
	}
	.dropdown__link {
		font-size: 11px;
		color: $font-color-title;
		text-decoration: underline;
	}
}


.dd-alert{
	min-width: 250px;
	&__title{
		margin-bottom: 10px;
	}
}