
//filter
.filter {
	position: relative;
	margin-left: 50px;
	&:first-of-type {
		margin-left: 0;
	}
	&--results {
		float: right;
		width: auto;
		margin-left: 0;
		text-align: right;
	}
	&__title {
		cursor: pointer;
		font-size: 14px;
		position: relative;
		margin-top: 0;
		margin-bottom: 25px;
		font-family: $font-main-regular;
		line-height: 1.4;
		color: $font-color-main;
		&.white{
			color: #fff;
		}
		&.center{
			text-align: center;
		}
		&.is-open {
			.icon-arrow {
				transform: rotate(180deg);
			}
		}
		.icon-arrow {
			position: relative;
			top: -3px;
			display: inline-block;
			height: 4px;
			margin-left: 10px;
			font-size: 12px;
			line-height: 0;
			transition: .3s;
			.fa {
				position: relative;
				line-height: 0;
			}
		}
	}
	.dropdown {
		top: 30px;
		min-width: 100%;
	}
}




.progress {
	margin-bottom: 20px;
	&__bar {
		position: relative;
		width: 100%;
		height: 15px;
		overflow: hidden;
		background-color: $color-bg-light;
		border-radius: 10px;
	}
	&__step {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: $color-main;
		transition: .3s;
	}
	&__info {
		margin-bottom: 10px;

		@extend .clearfix;
		.complete {
			float: right;

			@extend .title-info;
		}
	}
}

.step-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100%;
	padding: 20px 30px;
	background-color: $color-bg-header;

	align-items: center;
	.steps {
		padding-right: 50px;
		.step-num {
			display: block;
			margin-bottom: 5px;
			color: #fff;

			@extend .title-info;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.step-name {
			display: block;
			font-family: $font-title-medium;
			font-size: 11px;
			color: #fff;
		}
	}
	.progress {
		padding-right: 50px;
		margin-bottom: 0;

		flex-grow: 1;
	}
	.btn {
	}
}
.no-flexbox {
	.step-bottom {
		@extend .clearfix;
		.steps {
			position: relative;
			top: 16px;
			float: left;
			width: 150px;
		}
		.progress {
			position: relative;
			top: 16px;
			float: left;
			width: calc(100% - 350px);
		}
		.btn {
			float: left;
			width: 200px;
		}
	}
}


.m-info {
	position: relative;
	padding: 30px 30px 30px 80px;
	margin-bottom: 50px;
	font-family: $font-main-regular;
	font-size: 14px;
	color: $font-color-main;
	background-color: #f1f8fe;
	&:last-child {
		margin-bottom: 0;
	}
	&:before {
		position: absolute;
		top: 50%;
		left: 30px;
		display: block;
		width: 25px;
		height: 25px;
		content: "";
		background-color: #297fca;
		border-radius: 20px;
		transform: translate3d(0,-50%,0);
	}
}

.m-list-check {
	display: flex;
	width: 600px;
	list-style-type: none;

	align-items: flex-start;
	flex-wrap: wrap;
	li {
		display: flex;
		width: 33.33%;
		margin-bottom: 15px;

		align-items: center;
		.check, .text, .delete {
			display: inline-block;
		}
		.check {
			position: relative;
			width: 12px;
			height: 12px;
			border: 1px solid $font-color-main;
			&:before {
				position: absolute;
				top: 2px;
				left: 2px;
				width: 6px;
				height: 6px;
				content: "";
				background-color: $font-color-main;
			}
		}
		.text {
			margin-left: 5px;
			font-size: 14px;
			line-height: 1;
			color: $font-color-main;
		}
		.delete {
			margin-left: 5px;
			cursor: pointer;
		}
	}
}


.m-information {
	&__header {
		display: flex;
		margin-bottom: 15px;

		align-items: center;
		&__title {
			flex-grow: 1;
		}
		&__edit {
			.edit {
				display: block;
				font-size: 11px;
				font-weight: $font-main-weight-bold;
				color: $font-color-light;
				text-decoration: none;
				.text {
					padding-right: 5px;
				}
			}
		}
	}
	&__content {
		
	}
	&__row {
		display: flex;
		align-items: center;
		padding: 10px 0;
		&__cell{
			
			&:first-of-type{
				flex: 0 0 180px;
				text-align: right;
				padding-right: 15px;
			}
			&:last-of-type{
				flex-grow: 1;
				text-align: left;
				padding-left: 15px;
			}
			.title{
				
			}
			.paragraph{
				position: relative;
				top: -5px;
			}
		}
	}
}



.wrap-no-content{
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}