.textfield {
	display: block;
	width: 100%;
	padding: 13px 15px;
	font-size: 14px;
	color: $font-color-main;
	background-color: #fff;
	border: 1px solid $color-border-light;
	border-radius: 3px;
	outline: none;

	appearance: none;
	&::placeholder {
		color: $font-color-light;
	}
	&--solo, &--lg-solo {
		padding-right: 0;
		padding-left: 0;
		font-size: 14px;
		border: none;
		border-bottom: 1px solid $color-border;
		border-radius: 0;
	}
	&--lg-solo {
		font-size: 24px;
	}
	
	&.invalid {
		border: 1px solid $color-border-invalid;
	}
}
textarea.textfield {
	height: 130px;
}

.fileinput {
	position: relative;
	cursor: pointer;

	@extend .textfield;
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		text-align: right;
		opacity: 0!important;
	}
	.fileinput-text {
		padding-right: 40px;
		display: block;
	}
	.fileinput-icon {
		position: absolute;
		right: 15px;
		display: block;
		width: 26px;
		height: 18px;
		background-image: url(#{$img-folder-global}#{$url-sprite});
		background-repeat: no-repeat;
		background-position: -46px 0;
		background-size: $sprite-size;
	}
}
.checkbox, .radiobox {
	//overflow: hidden;
	//clear: both;
	position: relative;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	@extend .clearfix;
	&__toggler {
		display: none;
		& ~ .checkbox__text {
			//margin-right: 13px;
			margin-left: 0;
			& + .checkbox__check {
				//just after
				margin-left: 13px;
			}
		}
		& + .checkbox__text {
			//just after
			margin-left: 0;
			padding-left: 0px;
			float: left;
		}
		
	}
	&__check {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 22px;
		height: 22px;
		background-color: transparent;
		border: 1px solid $font-color-main;
		border-radius: 0px;
		transition: .3s;
		&:last-child {
			position: relative;
			float: left;
		}
		&:before, &:after {
			position: absolute;
			display: block;
			height: 1px;
			content: '';
			background-color: #fff;
			opacity: 0;
			transition: .3s;
		}
		&:before {
			top: 9px;
			left: 7px;
			width: 10px;
			transform: rotate(-45deg);
		}
		&:after {
			top: 11px;
			left: 5px;
			width: 4px;
			transform: rotate(45deg);
		}
	}
	&__text {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 35px;
		color: $font-color-main;
		font-family: $font-title-medium;

		@extend .title-info;
	}
	&.checked .checkbox__check, &__toggler:checked ~ .checkbox__check {
		border: 1px solid $color-valid;
		background-color: $color-valid;
		&:before, &:after {
			opacity: 1;
		}
	}

	&--small{
		.radiobox__text, .checkbox__text{
			font-weight: $font-main-weight-regular;
			font-family: $font-title-regular;
			text-transform: none;
		}
	}
}

.radio-group, .checkbox-group {
	//margin-right: -15px;
	//margin-left: -15px;
	&--center{
		text-align: center;
	}
	.radiobox, .checkbox {
		display: inline-block;
		padding-right: 15px;
		&:last-of-type{
			padding-right: 0;
		}

	}
}
.radio-wrap, .check-wrap {
	.radiobox, .checkbox {
		margin-bottom: 15px;
	}
}
.radiobox {
	margin-bottom: 5px;
	&:last-child{
		margin-bottom: 0;
	}
	&__check {
		width: 18px;
		height: 18px;
		border-radius: 20px;
		background-color: #e7e7e7;
		border: none;
		transition: .3s;
		&:after {
			position: absolute;
			top: 0px;
			left: 0px;
			display: block;
			width: 18px;
			height: 18px;
			content: '';
			background-color: $font-color-main;
			border-radius: 20px;
			opacity: 0;
			transition: .3s;
			transform: scale(0,0);
		}
		&:before {
			display: none;
		}
	}
	&__text {
		//padding-left: 15px;
		padding-top: 3px;
		padding-left: 25px;
	}
	&.checked .radiobox__check, &__toggler:checked + .radiobox__check {
		&:after {
			opacity: 1;
			transform: scale(1,1);
		}
	}
}

.wrap-input-btn {
	margin-right: -15px;
	margin-left: -15px;

	@extend .clearfix;
	.col {
		float: left;
		padding-right: 15px;
		padding-left: 15px;
	}
	.input, .selectric {
		width: 190px;
	}
	.btn {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

.form {
	&--large {
		.form__group {
			display: block;
			margin-bottom: 40px;
			.form__label {
				margin-bottom: 10px;
				color: $font-color-main;
				text-align: left;

				@extend .title-info;
			}
			.form__note {
				position: relative;
				z-index: 1;
				float: right;
				padding-right: 0;
			}
		}
	}
	&--label-right {
		.form__group {
			.form__label {
				@media (min-width: $desktop-min-width) {
					text-align: right;
				}
			}
		}
	}
	&__fieldset {
		min-width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 60px;
		border: none;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__legend {
		width: 100%;
		padding-bottom: 20px;
		margin-bottom: 30px;
		border-bottom: 1px solid $color-border-light;

		@extend .title-info;
	}
	&__group {
		position: relative;
		display: flex;
		width: 100%;
		//padding: 0 10px;
		margin-bottom: 15px;
		flex-direction: column;

		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&.hover-shadow {
			padding-top: 25px;
			padding-bottom: 25px;
			//margin-bottom: 5px;
			transition: .3s;
			border-left: 2px solid transparent;
			&:hover {
				border-left: 2px solid $color-bg-dark;
				box-shadow: $box-shadow;
			}
		}
		@media (min-width: $mobile-min-width) {
			width: auto;
			flex-direction: row;
		}
		&:last-child {
			//margin-bottom: 0;
		}
		&--radio {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		&--textarea {
			.form__label {
				margin-bottom: 15px;
			}
		}
		&--sub {
			//flex-wrap: nowrap;
			margin-bottom: 0;
		}
		&--city {
			margin-right: -15px;
			margin-left: -15px;
		}
		&.city {
			min-width: calc(100% - 195px);
			@media (min-width: $mobile-min-width) {
				.form__group__col {
					&:first-of-type {
						width: calc(100% - 100px);
					}
					&:last-of-type {
						width: 100px;
					}
				}
			}
		}
		&.state {
			min-width: 160px;
			.form__group__col {
				@media (min-width: $mobile-min-width) {
					&:first-of-type {
						width: calc(100% - 100px);
					}
					&:last-of-type {
						width: 100px;
					}
				}
				.selectric .label {
					min-width: 20px;
				}
			}
		}
		&__col {
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			.radio-group {
				.radiobox {
					margin-bottom: 3px;
					margin-top: 3px;
					&:last-child{
						margin-bottom: 3px;
						margin-top: 3px;
					}
				}
			}
			&:first-of-type {
				@media (min-width: $mobile-min-width) {
					width: calc(100% - 290px);
				}
			}
			&:last-of-type {
				@media (min-width: $mobile-min-width) {
					width: 290px;
				}
			}
			&.last-large{
				&:first-of-type {
					@media (min-width: $desktop-min-width) {
						width: calc(100% - 550px);
					}
				}
				&:last-of-type {
					@media (min-width: $desktop-min-width) {
						width: 550px;
					}
				}
			}
			.form__label {
				padding-bottom: 5px;
				text-align: left;
				@media (min-width: $mobile-min-width) {
					padding-bottom: 0;
					//text-align: right;
				}
			}
		}
		&__check {
			width: 100%;
			@media (min-width: $mobile-min-width) {
				padding-left: calc(100% - 280px);
			}
		}
	}
	&__label {
		display: block;
		font-family: $font-main-regular;
		font-size: 14px;
		color: $font-color-main;
		&.small{
			font-size: 12px;
			opacity: .7;
		}
	}
	&__note {
		display: block;
		padding-right: 10px;
		margin-bottom: 10px;
		font-family: $font-title-regular;
		font-size: 12px;
		color: $font-color-light;
		text-align: center;
		text-align: right;

		flex: 0 1 100%;
	}
	&__validation {
		text-align: center;
		.btn {
			display: inline-block;
			margin-right: 10px;
			margin-left: 10px;
			&:first-child {
				margin-left: 10px;
			}
			&:last-child {
				margin-right: 10px;
			}
		}
	}
}

.error-mesg{
	color: $color-alert;
	font-size: 12px;
	font-family: $font-main-regular;
}

.no-flexbox {
	.form {
		&--large {
			.form__group {
				.form__label {
					top: 0;
				}
			}
		}
		&__group {
			@extend .clearfix;
			&__sub, &__col {
				float: left;
			}
		}
		&__label {
			position: relative;
			top: 10px;
		}
	}
}
