.mb{
	&--1{
		margin-bottom: 20px;
	}
	&--2{
		margin-bottom: 40px;
	}
}
.mt{
	&--2{
		margin-top: 40px;
	}
}


.t-a-r{
	text-align: right!important;
}	
.t-a-l{
	text-align: left!important;
}	
.t-a-c{
	text-align: center!important;
}
.t-d-u{
	text-decoration: underline!important;
}

.cursor-p{
	cursor: pointer;
}