.loader-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 100px 0;
}
.ld-bar {
	position: relative;
	width: 100px;
	height: 2px;
	margin: 30px auto;
	overflow: hidden;
	background-color: $color-border-light;
	transition: width .5s;
	&:after {
		position: absolute;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		background-color: $color-main;
		animation: ld-bar infinite 2s;
	}
	&.close {
		width: 0;
	}
}

@keyframes ld-bar {
	0% {
		transform: translate3d(50%, 0, 0);
	}
	50% {
		transform: translate3d(-50%, 0, 0);
	}
	100% {
		transform: translate3d(50%, 0, 0);
	}
}



.spin-load {
	position: relative;
	&__text {
	}
	&__load {
		position: absolute;
		top: 50%;
		left: 20px;
		width: 15px;
		height: 15px;
		border: 1px solid rgba(255,255,255,.5);
		border-radius: 20px;
		transform: translate3d(0,-50%,0);
		&:before {
			box-sizing: border-box;
			position: absolute;
			top: -1px;
			left: -1px;
			width: 15px;
			height: 15px;
			content: "";
			border: 1px solid transparent;
			border-top-color: #fff;
			border-radius: 20px;
			animation: ld-spin infinite .8s linear;
		}
	}
}
@keyframes ld-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}











.m-loader{
	&__loader{
		width: 20px;
		height: 20px;
		border: 1px solid rgba(0,0,0,.3);
		border-radius: 20px;
		position: relative;
		margin: 0 auto;
		&:before {
			box-sizing: border-box;
			position: absolute;
			top: -1px;
			left: -1px;
			width: 20px;
			height: 20px;
			content: "";
			border: 1px solid transparent;
			border-top-color: #000;
			border-radius: 20px;
			animation: loader-anim infinite .8s linear;
		}
	}
	&__message{
		margin-top: 10px;
		text-align: center;
	}
}

@keyframes loader-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}