
/******* OVERWRITE ANGLAR MATERIAL*******/
mat-dialog-container {
	max-width: 100%!important;
	padding: 0!important;
}

/******* MODAL *******/
.modal {
	width: 500px;
	//height: 400px;
	&--fullscreen {
		width: 100vw;
		height: 100vh;
		.modal__content {
			position: relative;
			display: flex;
			padding: 0;
			flex-direction: column;

			//flex-grow: 1;
			&--dark {
				background-color: $color-bg-dark;
			}
			&--black {
				background-color: #000;
			}
		}
	}
	&__wrap {
		height: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	&__wrap-content {
		//special for questionnaire
		position: relative;
		display: flex;
		height: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		flex-direction: column;
	}
	&__content {
		//for fullscreen modal
		position: relative;
		padding: 45px;

		//flex-grow: 1;
		&--dark {
			background-color: $color-bg-dark;
		}
		&--black {
			background-color: #000;
		}
	}
	&__inside {
	}
}

.no-flexboxlegacy{
	.modal{
		&__wrap-content{
			display: block;
		}
	}
}

.modal-close {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 9;
	color: #fff;
	cursor: pointer;
	z-index: 9999;
	&__icon {
		display: flex;

		justify-content: center;
	}
	&__text {
		font-family: $font-main-regular;
		font-size: $size-h1-mobile;
		font-size: 10px;
		font-weight: $font-main-weight-regular;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .025em;
		text-shadow: 0 0px 6px #303b53, 0 0px 10px #303b53;
		position: relative;
		z-index: 9;
	}
	&--black {
		.modal-close__text {
			color: #000;
			text-shadow: none;
		}
	}
}

/* .modal--camera{
	width: 500px;
	height: 470px;
} */
