
.main-nav {
	&--main {
		
	}
	&__list {
		list-style-type: none;
	}
	&__item {
		display: block;
	}
	&__link {
		display: block;
		padding-top: 7px;
		padding-bottom: 7px;
		color: #fff;
		text-decoration: none;

		@extend .txt-nav;
		&.is-active {
			//color: $font-color-title;
			text-decoration: underline;
		}
	}
}


.m-prev-next-v {
	width: 100px;
	&__prev, &__next {
		position: relative;
		width: 52px;
		height: 30px;
		margin: 0 auto;
		cursor: pointer;
		transition: opacity .2s;
		&:before, &:after {
			position: absolute;
			top: 15px;
			width: 25px;
			height: 1px;
			content: "";
			background-color: #fff;
		}
		&:before {
			left: 5px;
		}
		&:after {
			right: 5px;
		}
		&.is-inactive{
			opacity: .3;
			cursor: auto;
		}
	}
	&__prev {
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
	}
	&__next {
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&__pagination {
		position: relative;
		padding: 5px 0;
		font-family: $font-main-regular;
		font-size: 24px;
		font-weight: $font-main-weight-light;
		color: #fff;
		text-align: center;
		&__current {
		}
		&__total {
			opacity: .4;
		}
	}
}

.secondary-nav{
	background-color: $color-bg-light;
	padding: 40px 30px;
	&__list{
		list-style-type: none;
	}
	&__item{
		padding: 5px 0;
	}
	&__link{
		//display: block;
		text-decoration: none;
		padding: 2px 0;
		&.is-active {
			color: $font-color-title;
			.wrap-i-circle{
				background-color: $font-color-title;
				color: #fff;
			}
		}
	}
}

.third-nav{
	
}