/* .main-pagination{
	.ngx-pagination{
		float: right;

		.disabled{

		}
		.pagination-previous{

		}

		.current{
			background-color: transparent;
			color: $color-secondary;
			padding: 2px 5px;
		}

		.show-for-sr{

		}

		li{
			color: $font-color-main;
			font-weight: 600;
		}

		a, button{
			padding: 2px 5px;
		}
	}
}
 */

.main-pagination{
	&__pagination{
		@extend .clearfix;
	}
	.pagination{
		@extend .clearfix;
		padding-top: 30px;
		padding-bottom: 100px;
		&__list{
			list-style-type: none;
			float: left; 
		}
		&__elem{
			float: left;
			font-size: 13px;
			display: block;
			color: $font-color-main;
			font-weight: 700;
			&.current{
				color: $color-secondary;
			}
		}
		&__previous, &__next{
			padding-left: 5px;
			padding-right: 5px;
		}
		&__previous{
			padding-left: 10px;
		}
		&__link{
			cursor: pointer;
			padding: 2px 5px;
			display: block;
		}
		&__arrow{
			&.not-active{
				opacity: .3;
			}
			.fa{
				position: relative;
				top: 2px;
			}
		}
	}
}