
//SELECTRIC--------
.selectric-wrapper{
    &.selectric-open{
        &.selectric-below{
            .selectric{
                border-radius: 3px 3px 0px 0px;
            }
            .selectric-items{
                top: 0;
                padding-top: 45px; 
            }
        }
        &.selectric-above{
            .selectric{
                border-radius: 0px 0px 3px 3px;
            }
            .selectric-items{
                bottom: 0;
                padding-bottom: 45px; 
            }
        }
    }
}
.selectric {
    display: block;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    color: $font-color-main;
    background-color: #fff;
    border: 1px solid $color-border-light;
    border-radius: 3px;
    outline: none;

    appearance: none;
    
    .label {
        height: auto;
        margin: 0 55px 0 15px;
        font-size: 12px;
        line-height: 1.5;
        color: $font-color-main;
    }
    .button {
        height: 100%;
        background-color: #fff;
        border-left: 1px solid $color-border-light;
    }
    .button {
        &:before, &:after {
            position: absolute;
            top: 22px;
            right: auto;
            bottom: auto;
            left: auto;
            display: block;
            width: 8px;
            height: 1px;
            content: '';
            background-color: $color-border-light;
            border: none;
        }
        &:before {
            left: 12px;
            transform: rotate(45deg);
        }
        &:after {
            right: 12px;
            transform: rotate(-45deg);
        }
    }

}


.selectric-items {
    //border-radius: 0px 0px 3px 3px;
    border-radius: 3px;
    border: 1px solid $color-border-light;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    .selectric-scroll{
        border-radius: 3px;
    }
    li {
        color: $font-color-main;
        background-color: #fff;
        border-bottom: 1px solid $color-border-light;
        &:last-child {
            border-bottom: none;
        }
        &.selected {
            color: $font-color-main;
            background: #e0e0e0;
        }
        &:hover {
            color: $font-color-main;
            background: #f9f9fb;
        }
        &.highlighted {
            color: $font-color-main;
            background: #d0d0d0;
        }
    }
}
