
//TABS
.tabs {
	//margin-bottom: 20px;
	//border-bottom: 1px solid $color-border-light;
	&__container {
		@extend .container;
	}
}
.tab {
	//margin-right: -15px;
	//margin-left: -15px;
	margin-bottom: 40px;

	@extend .clearfix;
	&__list {
		list-style-type: none;
	}
	&__item {
		float: left;
		padding: 10px;
		&:first-of-type{
			padding-left: 0;
		}
	}
	&__link {
		position: relative;
		display: block;
		color: $font-color-main;
		text-decoration: none;
		cursor: pointer;
		//transition: .5s;
		@extend .heading--4;
		&.is-active{
			color: $font-color-title;
		}
		/* &:after, &:before {
			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;
			display: block;
			width: 0;
			height: 1px;
			margin-right: auto;
			margin-left: auto;
			content: "";
			background-color: $color-main;
			opacity: 1;
			transition: .3s;
		}
		&:before {
			height: 2px;
			opacity: 1;
		}
		&:hover {
			color: $color-main;
			&:after {
				width: calc(100% - 30px);
				opacity: .5;
			}
		}
		&.is-active, &.is-active:hover {
			color: $color-main;
			&:after {
				width: calc(100% - 30px);
				opacity: .5;
			}
			&:before {
				width: calc(100% - 30px);
				height: 2px;
				opacity: 1;
			}
		} */
	}
}

.tab-sections {
	position: relative;
}
.tab-section {
	position: relative;
	//background-color: #fff;
}