<div class="modal modal--fullscreen">
	<div class="modal-close" (click)="close()">
		<div class="modal-close__icon">
			<i class="icon icon--cross shadow"></i>
		</div>
		<div class="modal-close__text">Close</div>
	</div>
	<div class="modal__wrap">
		<div class="modal__content">
			<header-marquee [title]="'Company Health Check'">
				<div content class="update-bt">
					<div class="wrap-btns">
						<a class="main-link btn--link white" (click)="restartQuestionnaireModal()">Update</a>
					</div>
				</div>
			</header-marquee>
			<div class="page__content">
				<div class="container-fluid">			
					<div class="tabs">
						<div class="fl-r" dropdown *ngIf="currentTab === 0">
							<div class="wrap-btns wrap-btns--right mt-0" >
								<a type="submit" class="btn btn--add btn--icon" *ngIf="!isPdfGenerated" (click)="previewPdfModal()">
									<span class="icon spin-load__load" *ngIf="isPdfGenerating"></span>PDF Preview
								</a>
								<a *ngIf="isPdfGenerated" class="btn btn--link">View PDF</a>
							</div>
						</div>
						<div class="filter fl-r" dropdown *ngIf="currentTab === 1">
							<div class="filter__title" dropdownToggler>Jump to Section<span class="icon-arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></div>
							<div class="dropdown dropdown--right" dropdownToggled>
								<ul class="dropdown__list">
									<li class="dropdown__item" *ngFor="let vertical of summary; let i = index" >
										<a href="#section-{{i}}" scrolldown class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getVertical(vertical.verticalSectionId)}" (click)="setVertical(vertical);">
											{{vertical.verticalSectionName}}
										</a>
									</li>
								</ul>
							</div>
						</div>
						<nav class="tab">
							<ul class="tab__list">
								<li class="tab__item">
									<a class="tab__link" (click)="setTab(0);" [ngClass]="{'is-active': currentTab === 0}">Summary</a>
								</li>
								<li class="tab__item">
									<a class="tab__link" (click)="setTab(1);" [ngClass]="{'is-active': currentTab === 1}">Results</a>
								</li>
							</ul>
						</nav>
					</div>
					
					<div class="tab-sections remaining-h">
						<div class="tab-section" *ngIf="currentTab === 0">
							<div class="card">
								<div class="card__content large">
									<div class="q-results">
										<div class="row">
											<div class="col-12 col-sm-6">
												<div class="q-results__graph" *ngIf="showGraph">
													<canvas baseChart width="100" height="100"
													[colors]="colors"
													[datasets]="radarChartData"
													[labels]="radarChartLabels"
													[chartType]="radarChartType"
													[options] ="chartOptions"
													[legend]="false"
													(chartHover)="chartHovered($event)"
													(chartClick)="chartClicked($event)"></canvas>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="q-results__results">
													<h4 class="title title-info color-main">Company Snaphshot</h4>

													<div class="q-results__results__group" *ngFor="let result of summary">
														<h4 class="title-info  light">{{result.verticalSectionName}}</h4>
														<p class="paragraph s-2" *ngIf="result.totalScore <=50">Low</p>
														<p class="paragraph s-2" *ngIf="result.totalScore > 50 && result.totalScore <=75">Medium</p>
														<p class="paragraph s-2" *ngIf="result.totalScore > 75">High</p>
														<progress-results [score]="result.totalScore" [scoreMax]="100"></progress-results>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-section" *ngIf="currentTab === 1">
							<div class="question-sum">
								<section class="question-sum__section" *ngFor="let section of summary; let i = index" id="section-{{i}}">
									<div class="question-sum__title">
										<h4 class="heading--4 t-d-u">{{section.verticalSectionName}}</h4>
										<div class="question-chart">
											<chart-circle [chartValue]="section.totalScore" class="large" [ngClass]="setChartColor(section.totalScore)"></chart-circle>
											<div class="wrap-btns">
												<div class="btn btn--ghost pink" [ngClass]="{'btn--full': setChartColor(section.totalScore) == 'low'}">Low</div>
												<div class="btn btn--ghost blue" [ngClass]="{'btn--full': setChartColor(section.totalScore) == 'medium'}">Medium</div>
												<div class="btn btn--ghost valid" [ngClass]="{'btn--full': setChartColor(section.totalScore) == 'high'}">High</div>
											</div>
										</div>
									</div>
									<div class="question-sum__questions">
										<div class="question-sum__question" *ngFor="let result of section.resultSet">
											<div class="card c-summary">
												<div class="card__content">
													<div class="c-summary__question ">
														<p class="paragraph s-2">{{result.question}}</p>
													</div>
													<div class="c-summary__answer">
														<i class="icon icon--circle valid"></i>
														<p class="paragraph light s-2">{{result.selectedAnswer}}
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="question-sum__recommendations">
										<div class="card">
											<div class="card__content">
												<div class="card__content__title">
													<h4 class="heading--4 center">Recommendations</h4>
												</div>
												<div class="card__content__description">
													<ul class="list list--small">
														<li *ngFor="let copy of section.recommendations">{{copy}}</li>														
													</ul>		
												</div>
											</div>
										</div>
									</div>
									<hr>
								</section>
								<div id="section-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>