@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';


.q-results {
	&__graph {
	}
	&__results {
		&__group {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.title {
			margin-bottom: 40px;
		}
	}
}



.question-sum{
	//max-width: 900px;
	&__section{
		@extend .clearfix;
		margin-bottom: 30px;
		padding: 10px;
		position: relative;
		hr{
			margin: 80px 0 40px 0;
		}
	}
	&__title{
		position: absolute;
		top: 10px;
		left: 10px;
		.question-chart{
			margin-top: 40px;
			.chart-circle{
				margin: 0 auto;
			}	
			.wrap-btns{
				
			}
		}
	}
	&__recommendations{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 250px;
		@media (min-width: $desktop-large-min-width) {
			width: 350px;
		}
		@media (min-width: $desktop-super-large-min-width) {
			width: 450px;
		}
	}
	&__questions{
		width: calc(100% - 350px);
		width: 450px;
		margin: 0 auto;
	}
	&__question{
		margin-bottom: 20px;
	}
}

.update-bt{
	display: block;
	color: #fff;
	z-index: 999;
	position: relative;
	width: 200px;
	margin: 0 auto;
	margin-top: 90px;
}