<header class="main-header">
	<div class="main-header__header">
		<div class="main-header__l">
			<div class="main-header__item txt-nav">Oasis</div>
		</div>
		<div class="main-header__r">
			<a class="main-header__item notification new dropdown-wrap" dropdown>				
				<div class="dropdown dropdown--center" dropdownToggled>
					<div class="dd-alert">
						<h4 class="dd-alert__title title-info light">Alert</h4>
						<p class="paragraph s-2">You have 6 new records avaliable for download. Click the button below to initiate.</p>
						<div class="wrap-btns center">
							<a class="btn btn--add btn--large-l-r" dropdownClose>Ok</a>
						</div>
					</div>
				</div>
			</a>
			<span class="main-header__item profile" >
				<span class="name txt-nav ">
					{{userName}}
				</span>
				<span class="link txt-nav " (click)="onLogOut()">
					Log Out
				</span>				
			</span>
		</div>
	</div>
</header>
