@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';//

:host(){
	display: block;
	position: fixed;
	z-index: 999;
	width: 100%;
}
.main-header {
	
	&__header {
		position: relative;
		z-index: 9;
		height: 50px;
		padding-right: 30px;
		padding-left: 30px;
		background-color: $color-bg-header;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);

		@extend .clearfix;
	}
	&__l {
		display: flex;
		float: left;
		height: 100%;

		align-items: center;
	}
	&__r {
		display: flex;
		float: right;
		height: 100%;

		align-items: center;
	}
	&__item {
		float: left;
		margin-right: 15px;
		margin-left: 15px;
		height: 100%;
		display: flex;
		align-items: center;
		&:only-child {
			float: none;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		.fa {
			font-size: 16px;
			color: #fff;
		}
		&.compay {
		}
		&.notification {
			position: relative;
			.notification__icon{
				height: 100%;
				display: flex;
				align-items: center;
			}
			&.new {
				i{
					color: $color-secondary;
				}
				/* &:after {
					position: absolute;
					top: 11px;
					right: -2px;
					display: block;
					width: 4px;
					height: 4px;
					content: "";
					background-color: $color-secondary;
					border: 2px solid $color-bg-header;
					border-radius: 5px;
					} */
				}
			}
			&.employee {
				&.is-active{
					.fa{
						color: $color-main;
					}
				}
			}
			&.profile {
				position: relative;
				.name, .link {
					position: relative;
					display: block;
					padding: 10px 18px 10px 0;

				/* &:after {
					position: absolute;
					top: 50%;
					right: 0;
					display: block;
					width: 0;
					height: 0;
					content: "";
					border-top: 4px solid #fff;
					border-right: 4px solid transparent;
					border-bottom: 4px solid transparent;
					border-left: 4px solid transparent;
					transform: translateY(-2px);
					} */
				}
				.link{
					cursor: pointer;
				}
				.fa{
					position: absolute;
					top: 50%;
					right: 0;
					display: block;
					transform: translateY(-11px);
				}
			}
		}
		&__search-i {
			position: relative;
			cursor: pointer;
			.fa-search {
				font-size: 16px;
			}
		}
		.dropdown{
			top: 70px;
		}
	}
	.no-flexbox {
		.main-header {
			&__search-i {
				top: 9px;
				float: right;
				width: 30px;
				height: 30px;
				.fa-search {
					position: relative;
					top: 4px;
					left: 9px;
					color: #fff;
				}
			}
		}
	}


	.search-over {
		position: fixed;
		top: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		visibility: hidden;
		&.is-open {
			visibility: visible;
			.overlay {
				opacity: .9;
			}
			.search-panel {
				transform: translate3d(0, 0, 0);
			}
		}
		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-color: #2f3c56;
			opacity: 0;
			transition: .4s;
		}
		.search-panel {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
			width: 350px;
			padding: 25px 40px;
			background-color: #fff;
			transition: .4s;
			transform: translate3d(100%, 0, 0);
			&__title {
				font-size: 22px;
			}
			&__icon {
				position: relative;
				top: 8px;
				float: right;
				font-size: 12px;
				opacity: .5;
			}
			&__search {
			//margin-top: 150px;
			margin-bottom: 400px;
			.textfield {
				padding: 10px 0;
				font-size: 22px;
			}
		}
		.trending {
			&__title {
				margin-bottom: 5px;
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
			}
			&__list {
				list-style-type: none;
			}
			&__item {
				display: block;
			}
			&__link {
				display: inline-block;
				padding: 2px 0;
				font-size: 16px;
				color: $font-color-main;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					color: $color-main;
					text-decoration: underline;
				}
			}
		}
	}
}




.dd-profile{
	min-width: 300px;
	padding: 20px;
	cursor: auto;
	&__account{
		@extend .clearfix;
		display: flex;
		//flex-wrap: nowrap;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $color-border-light;
		align-items: stretch;
	}
	&__photo{
		background-color: #aaa;
		float: left;
		width: 100px;
		height: 100px;
		border-radius: 3px;
		overflow: hidden;
	}
	&__info{
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		width: calc(100% - 100px);
		&__name{
			font-size: 20px;
		}
		&__mail{
			font-size: 12px;
			margin-bottom: 10px;
		}
		.btn{
			margin-top: auto;
		}
	}

	&__links{
		&__list {
			list-style-type: none;	
		}
		&__item {
			display: block;
		}
		&__link {
			display: inline-block;
			padding: 5px 0;
			font-size: 14px;
			color: $font-color-main;
			text-decoration: none;
			&.is-active, &:hover {
				color: $color-main;
				text-decoration: underline;
			}
		}
	}
}