<div class="page">
	<div class="page__menu">
		<div class="page__menu__logo"></div>
		<app-menu-navigation></app-menu-navigation>
	</div>
	<div class="page__wrap">
		<div class="page__content">
			<div class="page__doc">
				<div class="page__doc__summary page__doc__summary--right">		
					<div class="container-fluid">
						<action-navigation></action-navigation>
					</div>
				</div>

				<div class="page__doc__content">
					<header class="page-header container-fluid">
						<div class="page-header__info">
							<div class="page-title mb--1">{{activeProspect.companyName}}</div>
							<h4 class="heading--4">Pros-code # {{activeProspect.projectUID}}</h4>
						</div>
					</header>


					<div class="page__content">
						<div class="container-fluid" style="z-index: 9;">
							<router-outlet></router-outlet>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>