<div class="progress-results">
	<span class="progress-results__step is-complete" [ngClass]="scoreClassname()" *ngFor = "let step of scoreArray"></span>
	<span class="progress-results__step" *ngFor="let step of scoreMaxArray"></span>
</div>
<!-- <div class="progress-results">
	<span class="progress-results__step is-complete" ></span>
	<span class="progress-results__step" ></span>
</div> -->