@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';

:host {
	display: block;
}

.progress-results {
	display: flex;
	height: 15px;
	overflow: hidden;
	background-color: $color-bg-light;
	border-radius: 20px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	&.low {
		background-color: $color-alert;
	}
	&.medium {
		background-color: $color-main;
	}
	&.medium-high {
		background-color: $color-valid;
	}
	&.high {
		background-color: $color-valid;
	}
	&__step {
		display: block;
		height: 100%;
		background-color: red;
		background-color: transparent;
		//border-left: 1px solid #eee;

		flex-grow: 1;
		&:first-of-type {
			//border-left: none;
		}
		&.is-complete {
			&.low {
				background-color: $color-delete;
			}
			&.medium {
				background-color: $color-main;
			}
			&.medium-high {
				background-color: $color-valid;
			}
			&.high {
				background-color: $color-valid;
			}
		}
	}
}
