<div class="page">
	<div class="page__menu">
		<div class="page__menu__logo"></div>
		<app-menu-navigation></app-menu-navigation>
	</div>
	<div class="page__wrap">
		<!-- <header class="page-header container-fluid">
			<div class="page-header__info">
				<div class="page-title">White Papers</div>
			</div>
		</header> -->
		
		<div class="page__content">
			<div class="container-fluid" style="z-index: 9;">
				<div class="page-title">{{whitePapers.length}} White Papers</div>
				<div class="clearfix mb--2">
					<div class="filter fl-l" dropdown>
						<div class="wrap-search">
							<input type="text" class="wrap-search__search" placeholder="Search" [(ngModel)]="searchParam"  >
							<i class="icon icon--search wrap-search__icon" (click)="onSearchClick()"></i>
							<span class="wrap-search__underline"></span>
						</div>
					</div>
					<div class="filter fl-r" dropdown>
						<div class="filter__title" dropdownToggler>Filter By<span class="icon-arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></div>
						<div class="dropdown dropdown--right" dropdownToggled>

							<ul class="dropdown__list">
								<li class="dropdown__item">
									<a class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getFilterType('0')}" (click)="setFilterType('0')">
										View All
									</a>
									<a class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getFilterType('1')}" (click)="setFilterType('1')">
										White Papers
									</a>
									<a class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getFilterType('2')}" (click)="setFilterType('2')">
										Training
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="wrap-no-content" *ngIf="whitePapers.length==0">
					<p class="paragraph s-2 center">Sorry, no results found.</p>
				</div>

				<div class="row align-items-stretch flex-row-stretch" *ngIf="whitePapers.length!=0">
					<div class="col-6 col-sm-4 col-md-4" *ngFor="let paper of whitePapers" >
						<div class="card" *ngIf="paper.typeId==this.activeFilter.Id || this.activeFilter.Id == 0">
							<div class="card__marquee card__marquee--p large ">
								<div class="img-contain-container">
									<img [src]="paper.preview" alt="" class="img-contain">
								</div>
							</div>
							<div class="card__content">
								<h4 class="card__content__title title-info light mb-1">{{paper.title}}</h4>
								<div class="card__content__description remaining-h">
									<p class="paragraph paragraph--small">{{paper.description}}</p>
								</div>
								<div class="card__content__btns">
									<div class="wrap-btns wrap-btns--left mt-0">
										<a href="{{paper.url}}" target="_blank" class="btn btn--large-l-r btn--add">View</a>
									</div>
									<div class="card__content__btns__icons">
										<a class="icon-wrap-link" (click)="emailModal()">
											<span class="wrap-i-circle wrap-i-circle--large" >
												<i class="icon fa fa-envelope-o" style="font-size: 15px; width: 15px; "></i>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>