<div class="modal modal--fullscreen">
  <div class="modal-close" (click)="close()">
    <div class="modal-close__icon">
      <i class="icon icon--cross shadow"></i>
    </div>
    <div class="modal-close__text">Close</div>
  </div>
  <div class="modal__wrap">
    <div class="modal__content">
      <header-marquee [title]="'Prospect Research'"></header-marquee>
      <div class="page__content" *ngIf="isLoaded">
        <div class="container">
          <p class="paragraph s-3 thin center click-below">Click on any of the below services to get started.</p>
          <div class="row row--small align-items-stretch">
            <div class="col-6 col-sm-4 col-md-3 align-items-stretch" *ngFor="let card of cards">
              <div class="card c-prospect">
                <div class="card__content">
                  <div class="c-prospect__title">
                    <h4 class="title-info light">{{card.name}}</h4>
                  </div>
                  <div class="c-prospect__description">
                    <p class="paragraph s-3 thin">{{card.description}}</p>
                  </div>
                </div>
                <div class="card__btns c-prospect__btns">
                  <div class="wrap-btns wrap-btns--center">
                    <a href="{{card.url}}" target="_blank" class="btn btn--start btn--full-w" *ngIf="!card.document">Start</a>
                    <a class="btn btn--save btn--icon btn--full-w" *ngIf="card.document" (click)="downloadResearchDocument(card.document.uniqueId)">
                      <i class="icon icon--check small circle full white i-blue"></i>View
                    </a>
                    <div class="btn btn--link mt-20px btn--icon btn-upload" *ngIf="!card.document">
                      <input #myInput type="file" class="fileinput__input" accept="image/*;capture=camera" (change)="onFileChange($event,card)">
                      <span *ngIf="card.isUploading" class="icon icon--load-anim blue"></span>Upload File
                    </div>
                  </div>
                </div>
              </div>             
            </div>
          </div>
            <div class="wrap-btns wrap-btns--center" style="margin-top: 50px;" *ngIf="!summaryInfo.isGenerated">
              <a class="btn btn--ghost btn--icon pink" (click)="generateSummary()" [ngClass]="{'inactive': isAnyDocumentUploaded() == false}">
                <span class="icon icon--load-anim pink" *ngIf="isSummaryGenerating"></span>
                <span class="btn__text">GENERATE PDF</span>
              </a>
            </div>
            <div class="wrap-btns wrap-btns--center" style="margin-top: 50px;" *ngIf="summaryInfo.isGenerated">
              <a class="btn btn--ghost btn--icon pink" (click)="viewSummary()">
                <span class="btn__text">VIEW</span>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
