<div class="page">
	<div class="page__wrap">
		<div class="page__content">
			<div class="container">
				<h4 class="heading--4">Titles:</h4>
				<h1 class="heading--1">Title heading 1</h1>
				<h2 class="heading--2">Title heading 2</h2>
				<h3 class="heading--3">Title heading 3</h3>
				<h4 class="heading--4">Title heading 4</h4>
				<div class="title-info">Title info</div>
				<div class="txt-nav black">Title Navigation</div>
				<p class="paragraph">Paragrah size 1 lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, error!</p>
				<p class="paragraph s-2">Paragrah size 2 lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, error!</p>
				<p class="paragraph s-3">Paragrah size 3 lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, error!</p>
				<p class="paragraph s-3 light">Color light</p>


				<hr>
				
				<h4 class="heading--4">Forms / Inputs:</h4>
				<p class="paragraph">Large form (login)</p>
				<form class="form form--large">
					<div class="form__group">
						<label class="form__label">Label here</label>
						<input type="text" class="textfield" placeholder="Placeholder">
					</div>
					<div class="form__group">
						<a class="form__note">Forgot Password?</a>
						<label class="form__label">Label here</label>
						<input type="text" class="textfield" placeholder="Placeholder">
					</div>
					<div class="form__validation">
						<button type="submit" class="btn btn--submit btn--large">Sign In</button>
					</div>
				</form>

				<form>
					<input type="text" class="textfield textfield--solo" placeholder="Placeholder">
				</form>
				<form>
					<input type="text" class="textfield textfield--lg-solo" placeholder="Placeholder">
				</form>

				<br><br>
				<p class="paragraph">Regular form</p>
				<form class="form">
					<fieldset class="form__fieldset">
						<legend class="form__legend">Group Title</legend>
						<div class="form__group">
							<div class="form__group__col">
								<label class="form__label">Label here</label>
							</div>
							<div class="form__group__col">
								<input type="text" class="textfield" placeholder="Placeholder">
							</div>
						</div>
						<div class="form__group">
							<a class="form__note">Forgot Password?</a>
							<div class="form__group__col">
								<label class="form__label">Label here</label>
							</div>
							<div class="form__group__col">
								<input type="text" class="textfield" placeholder="Placeholder">
							</div>
						</div>
						<div class="form__group form__group--sub">
							<div class="form__group city">
								<div class="form__group__col">
									<label class="form__label">City</label>
								</div>
								<div class="form__group__col">
									<input type="text" class="textfield" placeholder="Placeholder">
								</div>
							</div>
							<div class="form__group state">
								<div class="form__group__col">
									<label class="form__label">State</label>
								</div>
								<div class="form__group__col">
									<selectric  [options]="states"></selectric>
								</div>
							</div>
						</div>
						<div class="form__group">
							<div class="form__group__col">
								<label class="form__label">Label here</label>
							</div>
							<div class="form__group__col">
								<input type="text" class="textfield" placeholder="Placeholder">
							</div>
						</div>
						<div class="form__validation">
							<button type="submit" class="btn btn--submit btn--large">Sign In</button>
						</div>
					</fieldset>
				</form>

				<hr>

				<h4 class="heading--4">checkboxes</h4>
				<label class="checkbox">
					<input type="checkbox" class="checkbox__toggler">
					<span class="checkbox__check"></span>
					<span class="checkbox__text">Text After</span>
				</label>
				<label class="checkbox">
					<input type="checkbox" class="checkbox__toggler">
					<span class="checkbox__text">Text Before</span>
					<span class="checkbox__check"></span>
				</label>
				<div class="check-wrap">
					<label class="checkbox">
						<input type="checkbox" class="checkbox__toggler">
						<span class="checkbox__check"></span>
						<span class="checkbox__text">Text After</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" class="checkbox__toggler">
						<span class="checkbox__check"></span>
						<span class="checkbox__text">Text After</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" class="checkbox__toggler">
						<span class="checkbox__check"></span>
						<span class="checkbox__text">Text After</span>
					</label>
					<label class="checkbox checkbox--small">
						<input type="checkbox" class="checkbox__toggler">
						<span class="checkbox__check"></span>
						<span class="checkbox__text">Text small</span>
					</label>
				</div>
				<br>
				<br>
				<label class="radiobox">
					<input type="radio" name="contract" class="radiobox__toggler">
					<span class="radiobox__check"></span>
					<span class="radiobox__text">Yes</span>
				</label>
				<br>
				<div class="radio-group">
					<label class="radiobox">
						<input type="radio" name="contract" class="radiobox__toggler">
						<span class="radiobox__check"></span>
						<span class="radiobox__text">Yes</span>
					</label>
					<label class="radiobox">
						<input type="radio" name="contract" class="radiobox__toggler">
						<span class="radiobox__check"></span>
						<span class="radiobox__text">No</span>
					</label>
				</div>
				<div class="radio-wrap">
					<label class="radiobox" *ngFor="let a of [1,2,3,4]">
						<input type="radio" name="exemple2" class="radiobox__toggler">
						<span class="radiobox__check"></span>
						<span class="radiobox__text">Lorem ipsum dolor sit amet.</span>
					</label>
				</div>
				<div class="radio-wrap">
					<label class="radiobox radiobox--small">
						<input type="radio" name="exemple2" class="radiobox__toggler">
						<span class="radiobox__check"></span>
						<span class="radiobox__text">Small one</span>
					</label>
				</div>

				<hr>	
				<h4 class="heading--4">btns:</h4>
				<div class="wrap-btns">
					<div type="submit" class="btn btn--add btn--icon">
						<input type="file" class="fileinput__input">
						<span class="icon icon--load-anim"></span>
						this is a file input
					</div>

				</div>
				<button type="submit" class="btn btn--submit btn--large spin-load">
					<span class="spin-load__load"></span>
					<span class="spin-load__text">Sign In</span>
				</button>
				<button type="submit" class="btn btn--add btn--icon">
					<span class="icon icon--load-anim"></span>
					btn - icon left
				</button>
				<button type="submit" class="btn btn--submit btn--large btn--icon">
					<i class="icon icon--check small circle full white i-pink"></i>Sign In
				</button>

				<div class="wrap-btns">
					<button type="submit" class="btn btn--full-w">btn 100% width</button>
				</div>
				<div class="wrap-btns">
					<button type="submit" class="btn btn--view btn--icon">
						<i class="icon icon--check small circle full white i-green"></i>btn - icon left
					</button>
					<button type="submit" class="btn btn--view btn--icon btn--icon--right">
						<i class="icon icon--check small circle full white i-green"></i>btn - icon right
					</button>
					<button type="submit" class="btn btn--view btn--large btn--icon">
						<i class="icon icon--check small circle full white i-green"></i>btn large - icon left
					</button>
					<button type="submit" class="btn btn--view btn--large btn--icon btn--icon--right">
						<i class="icon icon--check small circle full white i-green"></i>btn large - icon right
					</button>
				</div>
				<div class="wrap-btns">
					<button type="submit" class="btn">Button</button>
					<button type="submit" class="btn inactive">Button inactive (opacity 50%)</button>
					<button type="submit" class="btn btn--add">Button ADD</button>
					<button type="submit" class="btn btn--save">Button SAVE</button>
					<button type="submit" class="btn btn--start">Button START</button>
					<button type="submit" class="btn btn--view">Button VIEW</button>
					<button type="submit" class="btn btn--transparent">Button Transparent</button>
					<button type="submit" class="btn btn--link black">Button Link black</button>
					<button type="submit" class="btn btn--link">Button Link</button>
				</div>
				<div class="wrap-btns">
					<button type="submit" class="btn btn--ghost">Button Ghost</button>
					<button type="submit" class="btn btn--ghost pink">Button Ghost Pink</button>
					<button type="submit" class="btn btn--ghost alert">Button Ghost alert</button>
					<button type="submit" class="btn btn--ghost valid">Button Ghost valid</button>
					<button type="submit" class="btn btn--ghost blue">Button Ghost valid</button>
				</div>
				<div class="wrap-btns">
					<button type="submit" class="btn btn--full">Button full</button>
					<button type="submit" class="btn btn--full pink">Button full Pink</button>
					<button type="submit" class="btn btn--full alert">Button full alert</button>
					<button type="submit" class="btn btn--full valid">Button full valid</button>
					<button type="submit" class="btn btn--full blue">Button full valid</button>
				</div>
				<div class="wrap-btns wrap-btns--left">
					<button type="submit" class="btn btn--large">Button Large</button>
					<button type="submit" class="btn btn--large-l-r">Button Large Left Right</button>

				</div>

				<hr>

				<h4 class="heading--4">Icons</h4>
				<div class="styleguide-icons">
					<i class="icon icon--back"></i>
					<i class="icon icon--search"></i>

					<i class="icon icon--check"></i>
					<i class="icon icon--check white"></i>
					<i class="icon icon--check green"></i>

					<i class="icon icon--check small"></i>
					<i class="icon icon--check white small"></i>
					<i class="icon icon--check green small"></i>
					<i class="icon icon--check small circle"></i>
					<i class="icon icon--check small circle white"></i>
					<i class="icon icon--check small circle full green"></i>
					<i class="icon icon--check small circle full white"></i>
					<i class="icon icon--check small circle full white i-pink"></i>
					<i class="icon icon--check small circle full white i-green"></i>
					<i class="icon icon--check small circle full white i-blue"></i>


					<i class="icon icon--cross-red-circle"></i>
					<i class="icon icon--cross-red-circle small"></i>
					<i class="icon icon--plus"></i>
					<i class="icon icon--plus circle white"></i>
					<i class="icon icon--plus circle full green"></i>
					<i class="icon icon--plus circle full pink"></i>
					<i class="icon icon--cross"></i>
					<i class="icon icon--cross black"></i>
					<i class="icon icon--cross shadow"></i>
					<br><br>
					<i class="icon icon--circle"></i>
					<i class="icon icon--circle all"></i>
					<i class="icon icon--circle pending"></i>
					<i class="icon icon--circle new"></i>
					<i class="icon icon--circle open"></i>
					<i class="icon icon--circle small"></i>
					<i class="icon icon--circle small all"></i>
					<i class="icon icon--circle small pending"></i>
					<i class="icon icon--circle small new"></i>
					<i class="icon icon--circle small open"></i>
					<br><br>
					<i class="icon icon--load-anim"></i>
					<i class="icon icon--load-anim black"></i>
					<i class="icon icon--load-anim blue"></i>
					<i class="icon icon--load-anim pink"></i>
					<i class="icon icon--load-anim green"></i>
				</div>

				<hr>

				<h4 class="heading--4">Cards</h4>
				<div class="card c-prospect">
					<div class="card__content">
						<div class="c-prospect__description">
							<h4 class="title-info light">Salary</h4>
							<p class="paragraph s-2"></p>
						</div>
						<div class="c-prospect__form">
							<div class="radio-group radio-group--center">
								<label class="radiobox radiobox--small">
									<input class="radiobox__toggler" name="exemple" type="radio">
									<span class="radiobox__check"></span>
									<span class="radiobox__text">Select</span>
								</label>
							</div>
						</div>
						<div class="card__content__btns">
							<div class="wrap-btns wrap-btns--center">
								<button class="btn btn--start btn--full-w" >Start</button>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<h4 class="heading--4">Progress bar</h4>
				<progress-results [score]="10" [scoreMax]="100"></progress-results>
				<progress-results [score]="30" [scoreMax]="100"></progress-results>
				<progress-results [score]="50" [scoreMax]="100"></progress-results>
				<progress-results [score]="70" [scoreMax]="100"></progress-results>
				<progress-results [score]="90" [scoreMax]="100"></progress-results>
			</div>

		</div>
	</div>
</div>