@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';


.page-preview {
	width: 1100px;
	//height: 1754px;
	padding: 20px;
	//margin-right: auto;
	margin-bottom: 50px;
	//margin-left: auto;
}

.fixed-button{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px;
	background-color: #FFF;
	box-shadow: $box-shadow;
}
.page__content{
	padding-bottom: 30px;
}

.q-results {
	&__graph {
	}
	&__results {
		&__group {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.title {
			margin-bottom: 40px;
		}
	}
}



.question-sum {
	//max-width: 900px;
	&__section {
		@extend .clearfix;
		margin-bottom: 30px;
		padding: 10px;
		position: relative;
		hr{
			margin: 80px 0 40px 0;
		}
	}
	&__title {
		position: absolute;
		top: 10px;
		left: 10px;
		.question-chart {
			margin-top: 40px;
			.chart-circle {
				margin: 0 auto;
			}
			.wrap-btns {
			}
		}
	}
	&__recommendations {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 250px;
	}
	&__questions {
		width: calc(100% - 350px);
		width: 450px;
		margin: 0 auto;
	}
	&__question {
		margin-bottom: 20px;
	}
}

.update-bt {
	position: relative;
	z-index: 999;
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 90px;
	color: #fff;
}
