<div class="modal modal--fullscreen">
	<div class="modal-close modal-close--black" (click)="close()">
		<div class="modal-close__icon">
			<i class="icon icon--cross black"></i>
		</div>
		<div class="modal-close__text">Close</div>
	</div>
	<div class="modal__wrap" *ngIf="isSummaryLoaded">
		<div class="modal__content">
			<div class="page__content">
				<div class="container-fluid" >
					<div class="page-preview" id="pdfTopContent">
						<div class="card">
							<div class="card__content large">
								<div class="q-results">
									<div class="row">
										<div class="col-12 col-sm-6">
											<div class="q-results__graph" *ngIf="showGraph">
												<canvas baseChart width="100" height="100"
													[colors]="colors"
													[datasets]="radarChartData"
													[labels]="radarChartLabels"
													[chartType]="radarChartType"
													[options] ="chartOptions"
													[legend]="false"
													(chartHover)="chartHovered($event)"
													(chartClick)="chartClicked($event)"></canvas>
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="q-results__results">
												<h4 class="title title-info color-main">Company Snaphshot</h4>

												<div class="q-results__results__group" *ngFor="let result of summary">
													<h4 class="title-info  light">{{result.verticalSectionName}}</h4>
													<p class="paragraph s-2" *ngIf="result.totalScore <=50">Low</p>
													<p class="paragraph s-2" *ngIf="result.totalScore > 50 && result.totalScore <=75">Medium</p>
													<p class="paragraph s-2" *ngIf="result.totalScore > 75">High</p>
													<progress-results [score]="result.totalScore" [scoreMax]="100"></progress-results>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="page-preview"  id="pdfBottomContent">
						<div class="question-sum">
							<section class="question-sum__section" *ngFor="let section of summary; let i = index" id="section{{i}}">
								<div class="question-sum__title">
									<h4 class="heading--4 t-d-u">{{section.verticalSectionName}}</h4>
									<div class="question-chart">
										<chart-circle [chartValue]="section.totalScore" class="large" [ngClass]="setChartColor(section.totalScore)"></chart-circle>
										<div class="wrap-btns">
											<div class="btn btn--ghost pink" [ngClass]="{'btn--full': setChartColor(section.totalScore) == 'low'}">Low</div>
											<div class="btn btn--ghost blue" [ngClass]="{'btn--full': setChartColor(section.totalScore) == 'medium'}">Medium</div>
											<div class="btn btn--ghost valid" [ngClass]="{'btn--full': setChartColor(section.totalScore) == 'high'}">High</div>
										</div>
									</div>
								</div>
								<div class="question-sum__questions">
									<div class="question-sum__question" *ngFor="let result of section.resultSet">
										<div class="card c-summary">
											<div class="card__content">
												<div class="c-summary__question ">
													<p class="paragraph s-2">{{result.question}}</p>
												</div>
												<div class="c-summary__answer">
													<i class="icon icon--circle valid"></i>
													<p class="paragraph light s-2">{{result.selectedAnswer}}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="question-sum__recommendations">									
									<div class="card">
										<div class="card__content">
											<div class="card__content__title">
												<h4 class="heading--4 center">Recommendations</h4>
											</div>
											<div class="card__content__description">
												<ul class="list list--small">
													<li *ngFor="let copy of section.recommendations">{{copy}}</li>
												</ul>												
											</div>
										</div>
									</div>
								</div>
								<hr>
							</section>
						</div>
					</div>
					<div class="fixed-button" data-html2canvas-ignore>
						<div class="wrap-btns mt-0">
							<a type="submit" class="btn btn--add btn--icon" *ngIf="!isPdfGenerated" (click)="generatePdf()">
								<span class="icon spin-load__load" *ngIf="isPdfGenerating"></span>Generate PDF
							</a>
							<a *ngIf="isPdfGenerated" class="btn btn--link" (click)="viewPdf()">View PDF</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-page-loader *ngIf="!isSummaryLoaded"></app-page-loader>
</div>