<div class="page">
	<div class="page__wrap">
		<div class="page__content">
			<section class="section">
				<div class="container">

					<h4 class="heading--4">General</h4>
					<p class="paragraph">
						<a routerLink="/login">Login</a>
					</p>


					<br><br>

					<h4 class="heading--4">Prospects</h4>
					<p class="paragraph">
						<a routerLink="/prospects">prospects</a>
					</p>
					<p class="paragraph">
						<a routerLink="/prospects/detail/general">prospects/detail/general</a>
					</p>
					<p class="paragraph">
						<a routerLink="/prospects/questionaire">prospects/questionaire</a>
					</p>
					<p class="paragraph">
						<a routerLink="/prospects/research">prospects/research</a>
					</p>
					<p class="paragraph">
						<a routerLink="/prospects/detail/document-capture">prospects/detail/document-capture</a>
					</p>
					<p class="paragraph">
						<a routerLink="/prospects/question-results">prospects/question-results</a>
					</p>

					<br><br>

					<h4 class="heading--4">Library</h4>
					<p class="paragraph">
						<a routerLink="/whitepapers">whitepapers</a>
					</p>

					<hr>

					<h4 class="heading--4">Styleguide</h4>
					<p class="paragraph">
						<a routerLink="/styleguide">styleguide</a>
					</p>

					<hr>

					<h4 class="heading--4">Error page</h4>
					<p class="paragraph">
						<a routerLink="/404">404 error</a>
					</p>
				</div>
			</section>
		</div>
	</div>
</div>