@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';

:host(.chart-circle) {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	&.large {
		width: 150px;
		height: 150px;
		.chart-circle {
			&__svg {
				width: 150px;
				height: 150px;

				&__stat {
					stroke-width: 10; //x2 here
				}
				&__bg {
					stroke-width: 2;
					fill: transparent;
				}
			}
			&__pct {
				font-size: 30px;
			}
		}
	}
	&.low {
		.chart-circle {
			&__svg {
				&__stat {
					stroke: $color-secondary;
				}
			}
			&__pct{
				color: $color-secondary;
			}
		}
	}
	&.medium {
		.chart-circle {
			&__svg {
				&__stat {
					stroke: $color-main;
				}
			}
			&__pct{
				color: $color-main;
			}
		}
	}
	&.high {
		.chart-circle {
			&__svg {
				&__stat {
					stroke: $color-valid;
				}
			}
			&__pct{
				color: $color-valid;
			}
		}
	}
}
.chart-circle {
	&__wrap{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__svg {
		border-radius: 50%;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);

		&__stat {
			z-index: 9;
			//animation: anim-chart-test 3s forwards;

			stroke: $color-secondary;
			stroke-width: 10; //x2 here
			fill: none;
			
			transition: stroke-dasharray 3s;
			stroke-dasharray: 0 500;
			//stroke-dasharray: calc(80 * 3.14 * 70 / 100) calc(80 * 3.14);
			//stroke-dasharray: 0 calc(80 * 3.14);
		}
		&__bg {
			stroke: $color-border-light;
			stroke-width: 2;
			fill: transparent;
		}
	}
	&__pct {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		display: block;
		padding-bottom: 1px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: $font-main-weight-regular;
		color: $color-secondary;
		text-align: center;
		transform: translate3d(0, -50%, 0);
	}

}