<div class="chart-circle__wrap"  chart-circle [chartCirclePct]="chartValue">
	<span class="chart-circle__pct">{{chartValue}}%</span>
	<svg class="chart-circle__svg">
		<circle class="chart-circle__svg__bg" chart-circle-bg/>
		<circle class="chart-circle__svg__stat" chart-circle-stats/>
	</svg>
</div>