<div class="modal">
	<div class="modal__wrap">
		<div class="modal__content">
			<h4 class="title-info mb-1 light">Close Questionnaire</h4>
			<p class="paragraph thin s-2">You are about to close the questionnaire. Your results won't be saved. Are you sure?</p>
			<div class="wrap-btns">
				<a class="btn btn--link black" (click)="close()">cancel</a>
				<button class="btn btn--save" [mat-dialog-close]="true">Close questionnaire</button>
			</div>
		</div>
	</div>
</div>