@import '../../../../scss/bases/settings';//variables & settings
@import '../../../../scss/bases/extend';


:host(.table-loader) {
	position: relative;
	display: block;
	margin-top: -20px;

	tr {
		td {
			&:nth-child(1) {
				width: 10%;
			}
			&:nth-child(2) {
				width: 20%;
			}
			&:nth-child(3) {
				width: 30%;
			}
			&:nth-child(4) {
				width: 25%;
			}
			&:nth-child(5) {
				width: 15%;
			}
		}
	}
}


.table-loader {
	&__loader-wrap {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9;
		display: flex;
		background-color: rgba(255,255,255,.3);
		justify-content: center;
		align-items: center;
	}
}
@for $i from 1 through 4 {
	.table-loader-delay--#{$i} {
		.fake-bar:before{
			animation-delay: $i * .1s;	
		}
	}
}
.fake-bar {
	display: block;
	height: 10px;
	background-color: #eee;
	position: relative;
	overflow: hidden;
	&:before{
		content: "";
		position: absolute;
		left: -50px;
		display: block;
		width: 50px;
		height: 100%;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0) 100%);
		animation: fakebar 2s infinite;
	}
	@for $i from 1 through 5 {
		&.fake-bar--#{$i} {
			&:before{
				//animation-delay: $i * 1s;		
			}
		}
	}
}

@keyframes fakebar{
	0%{
		left: -50px;
	}
	100%{
		left:calc(100% + 50px);
	}
}




