<div class="table-loader__loader-wrap">
	<div class="m-loader">
		<div class="m-loader__loader"></div>
		<div class="m-loader__message"><span class="heading--4">Loading...</span></div>
	</div>
</div>
<table class="table-shadow">
	<tbody>
		<tr *ngFor="let tr of [1,2,3,4]" class="table-loader-delay--{{tr}}">
			<td  *ngFor="let td of [1,2,3,4,5]">
				<div class="fake-bar fake-bar--{{td}}"></div>
			</td>
		</tr>
	</tbody>
</table>