<div class="modal">
	<div class="modal__wrap">
		<div class="modal__content">
			<h4 class="title-info mb-1 light">Update results</h4>
			<p class="paragraph thin s-2">You are about to start the questionnaire again. Upon clicking "Restart", all your results will be cleared. Are you sure?</p>
			<div class="wrap-btns">
				<a class="btn btn--link black" (click)="close(false)">cancel</a>
				<a class="btn btn--save" (click)="close(true)">Restart</a>
			</div>
		</div>
	</div>
</div>