
@font-face {
    font-family: 'gotham_htf_blackregular';
    src: url('../fonts/gothamhtf-black-webfont.eot');
    src: url('../fonts/gothamhtf-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-black-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-black-webfont.woff') format('woff'),
         url('../fonts/gothamhtf-black-webfont.svg#gotham_htf_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_htf_medium';
    src: url('../fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_htf_bookregular';
    src: url('../fonts/gothamhtf-book-webfont.eot');
    src: url('../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-book-webfont.woff') format('woff'),
         url('../fonts/gothamhtf-book-webfont.svg#gotham_htf_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_htf_thinregular';
    src: url('../fonts/gothamhtf-thin-webfont.eot');
    src: url('../fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-thin-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-thin-webfont.woff') format('woff'),
         url('../fonts/gothamhtf-thin-webfont.svg#gotham_htf_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_htf_thinitalic';
    src: url('../fonts/gothamhtf-thinitalic-webfont.eot');
    src: url('../fonts/gothamhtf-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-thinitalic-webfont.woff') format('woff'),
         url('../fonts/gothamhtf-thinitalic-webfont.svg#gotham_htf_thinitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}