<div class="container-fluid" style="z-index: 9;">
	<section class="m-information">
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">General Information</h4>
			</div>
		</header>
		<div class="m-information__content">
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Name</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Website</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Phone</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Fax</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Address</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
					<!-- <p class="paragraph s-2 mb-0">Denvers, CO 80202</p>
					<p class="paragraph s-2 mb-0">P: 720-998-009</p> -->
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section class="m-information" >
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">Details</h4>
			</div>
		</header>
		<div class="m-information__content">			
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Disqualified date</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Disqualified reason</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Next steps</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Past Activity</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Reconnect Date</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Interest Level</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Interest</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section class="m-information" >
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">Current</h4>
			</div>
		</header>
		<div class="m-information__content">			
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">In hour services</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">PEO Vendor</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Payroll Vendor</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Insurance Carrier</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Insurance Renewal Date</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>			
		</div>
	</section>
	<hr>
	<section class="m-information" >
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">Notes</h4>
			</div>
		</header>
		<div class="m-information__content">			
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Sales Note</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">NAIC / SIC</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Address Map</h4>
				</div>
				<div class="m-information__row__cell">
					<input class="textfield" placeholder="Placeholder" type="text">
				</div>
			</div>
		</div>
	</section>
</div>
