<div class="card">
	<div class="card__content">
		<div class="m-doc-add">
			<div class="m-doc-add__main">
				<div class="m-doc-add__check">
					<i class="icon icon--check green" *ngIf="_documentType.documents.length"></i>
				</div>
				<div class="m-doc-add__description">
					<p class="paragraph s-2">{{title}}</p>
				</div>
				<div class="m-doc-add__button">
					<a class="btn btn--link no-p" *ngIf="!_documentType.documents.length && !addSection" (click)="openAdd()">Start</a>
					<a class="btn btn--link no-p" *ngIf="_documentType.documents.length && !addSection" (click)="openAdd()">View</a>
					<a class="btn btn--link no-p" *ngIf="addSection" (click)="closeAdd()">Close</a>
				</div>
			</div>
			<div class="m-doc-add__pages" *ngIf="addSection">
				<div class="row row--small flex-row-stretch align-items-stretch">
					<div class="col-3" *ngFor="let document of _documentType.documents; let i = index;" [attr.data-index]="i">
						<div class="m-doc-add__page">
							<div class="m-doc-add__page__img-w">
								<img [src]="document.path" alt="" class="img-contain" *ngIf="document.isLoaded">
							</div>
							<div class="m-doc-add__page__loader" *ngIf="!document.isLoaded">
								<div class="m-loader v-center" >
									<div class="m-loader__loader"></div>
								</div>
							</div>
							<a *ngIf="document.isLoaded" class="m-doc-add__page__name btn btn--link black" (click)="largeImageModal(document.path)">View</a>
						</div>
					</div>
					<div class="col-3">
						<a class="m-doc-add__page" >
							<label class="m-doc-add__page__label">
								<i class="icon icon--plus circle full pink v-center"></i>
								<input #myInput type="file" accept="image/*;capture=camera" (change)="onFileChange($event)">							
							</label>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

