@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';

:host(.m-doc-add) {
	display: block;
}
.m-doc-add {
	&__main {
		display: flex;

		align-items: center;
	}
	&__check {
		display: flex;
		width: 22px;

		flex: 0 0 auto;
		align-items: center;
	}
	&__description {
		padding-left: 25px;
		overflow: hidden;

		flex-grow: 1;
		p {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	&__button {
		padding-left: 25px;
	}
	&__pages {
		padding-top: 20px;
	}
	&__page {
		position: relative;
		height: 150px;
		padding: 10px;
		text-align: center;
		background-color: $color-bg-light;
		display: block;
		&__img-w{
			width: 100%;
			height: 100px;
		}
		&__label {
			display: block;
			height: 100%;
			cursor: pointer;
			input {
				display: none;
			}
		}
		.icon {
		}
		&__name {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 99;
			display: block;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			font-size: 11px;
			text-align: center;
		}
		&__loader{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
