<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__item">
			<a routerLink="/prospects" routerLinkActive="is-active" class="main-nav__link">Prospects</a>
		</li>
		<li class="main-nav__item">
			<a routerLink="/whitepapers" routerLinkActive="is-active" class="main-nav__link">Library</a>
		</li>
	</ul>
</nav>