@import '../../../../scss/bases/settings';//variables & settings
@import '../../../../scss/bases/extend';


:host(.p-loader) {
	position: relative;
	display: flex;
	width: 100%;
	height: 320px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgba(255,255,255,.5);

	align-items: center;
	justify-content: center;
}
:host(.small) {
	height: 220px;
}


.p-loader {
}
