

.fl-l{
	float: left;
}
.fl-r{
	float: right;
}

.v-center {
	position: relative;
	top: 50%;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
}

.pos-r{
	position: relative;
}

.txt-one-line{
	white-space: nowrap;
}
.one-word-line{
	word-spacing: 999px; 
}

.hidden-tablet {
	@media (max-width: $desktop) {
		display: none!important;
	}
}
.tablet-max-only {
	@media (min-width: $desktop-min-width) {
		display: none!important;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
}
.img-responsive-100 {
	display: block;
	width: 100%;
}

.img-cover-container, .img-contain-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	&--o-v {
		overflow: visible;
	}
}
.img-cover, .img-contain {
	display: block;
	width: 100%;
}
.objectfit {
	.img-cover {
		display: block;
		width: 100%;
		height: 100%;

		object-fit: cover;
	}
	.img-contain {
		display: block;
		width: 100%;
		height: 100%;

		object-fit: contain;
	}
}

.flexbox{
	.remaining-h{
		flex: 1 0 0;
	}
	.flex-column {
		display: flex;
		flex-direction: column;
	}
	.flex-v-stretch {
		display: flex;

		align-items: stretch;
		flex-wrap: wrap;
	}
	.flex-v-center {
		display: flex;

		align-items: center;
	}
	.flex-h-center {
		display: flex;

		flex-wrap: wrap;
		justify-content: center;
	}
	.flex-v-h-center {
		display: flex;

		align-items: center;
		justify-content: center;
	}
}



