//Basic Layout elements (except grid)
.main-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.page {
	display: flex;
	height: 100vh;
	overflow: hidden;

	&--full {
		padding: 0;
	}
	&--top {
		padding-top: 50px;
	}
	&--step-bottom {
		padding-bottom: 200px;
	}
	&__menu {
		z-index: 99;
		width: 200px;
		padding: 100px 20px 30px 20px;
		background-color: $color-bg-dark;

		flex: 0 0 200px;
		&__title {
			margin-bottom: 40px;
		}
		&__logo{
			width: 100px;
			height: 17px;
			margin: 0 auto 50px auto;
			background-image: url(#{$img-folder-global}shared/logo-oasis-new.png);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&__wrap {
		position: relative;
		display: flex;
		height: 100vh;
		padding-top: 50px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		flex-direction: column;

		flex-grow: 1;
		&.full {
			padding: 0;
		}
		& ~ .page__content {
			//padding-top: 40px;
		}
	}
	&__content {
		padding-top: 40px;
		padding-bottom: 40px;
		&.small {
			padding-top: 20px;
		}
		&--full {
			padding: 0;
		}
		.page-header{
			padding-top: 0;
		}
	}

	&__doc {
		//for table of content (.n-summary)
		display: flex;
		&__summary {
			padding-left: 20px;

			flex: 0 0 350px;
			&--right {
				order: 1;
			}
		}
		&__content {
			flex-grow: 1;
			min-width: 0;//for issue with white-space: nowrap;
		}
	}
}

.no-flexboxlegacy{
	.page__content--full {
		height: calc(100% - 290px)!important;
	}
}

.page-header {
	padding-top: 30px;
	padding-bottom: 20px;
}
.no-flexbox {
	.page-header {
		@extend .clearfix;
		&__info {
			float: left;
		}
		&__extra {
			float: right;
		}
	}
}
