@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';

.panel-login-presentation {
	//height: 100vh;
	min-height: 100%;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}


.panel-presentation, .panel-login {
	padding: 50px 40px;
	margin-bottom: 0;
	@media (min-width: $tablet-min-width) {
		//height: 100%;
	}
}
.panel-presentation {
	background-color: $color-bg-dark;
	position: relative;
	min-height: 350px;
	.logo {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 100px;
		height: 17px;
		background-image: url(../#{$img-folder-component}shared/logo-oasis-new.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.presentation {
		position: relative;
		margin-top: 100px;
		width: 500px;
		max-width: 100%;
		margin: 0 auto;
	}
	.assistance{
		position: absolute;
		top: 40px;
		right: 40px;
		cursor: pointer;
	}
}

.panel-login {
	background-color: #fff;
	&__login{
		width: 500px;
		max-width: 100%;
		margin: 0 auto;
	}
	&__heading{
		margin-bottom: 40px;
	}
	.form{
		margin-bottom: 30px;
	}
	.copyright{
		p{
			color: #7f8695;
		}
	}
}
