<div class="panel-login-presentation">
	<div class="panel-presentation col-12">
		<div class="logo"></div>
		<div class="presentation v-center">
			<h2 class="heading--2 white center">Innovative workforce solutions for your business.</h2>
			<p class="paragraph s-2 white center">
				When you partner with Oasis Outsourcing, you are able to take full advantage of our size, strength and relationship with leading benefits providers.<br><br>
				This is The Oasis Advantage.
			</p>
		</div>
		<!-- <div class="assistance">
			<a class="paragraph s-2 white">
				Need Assistance?
			</a>
		</div> -->
	</div>
	<div class="panel-login col-12">
		<div class="panel-login__login v-center">
			<div class="panel-login__heading">
				<h3 class="heading--3 mb-1">Sign in below</h3>
				<p class="paragraph s-2">Enter your login information</p>
				<p class="paragraph alert" *ngIf="loginFail">Invalid Email or Password</p>
			</div>
			<form class="form form--large" #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm);">
				<div class="form__group">
					<label class="form__label">Email Address <span style="text-transform: lowercase"></span></label>
					<input type="text" name="email" placeholder="exemple@exemple.com" class="textfield"
						#email="ngModel"
						(keyup)="loginFail = false"
						[ngClass]="{'invalid': (loginForm.submitted && email.errors) || loginFail}"
						ngModel required>
				</div>
				<div class="form__group">
					<!-- <a class="form__note">Forgot Password?</a> -->
					<label class="form__label">Password</label>
					<input type="password" name="password" class="textfield" placeholder="Password"
						#password="ngModel"
						[ngClass]="{'invalid': loginForm.submitted && password.errors}"
						ngModel required>
				</div>
				<div class="form__validation">
					<button type="submit" class="btn btn--submit btn--large spin-load">
						<span class="spin-load__load" *ngIf="spinner"></span>
						<span class="spin-load__text">Sign In</span>
					</button>
				</div>
			</form>
			<div class="copyright">
				<p class="paragraph s-2 light center">
					© 2001 – 2017 Oasis Outsourcing. All rights reserved.
				</p>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
