<div class="modal">
	<div class="modal__wrap">
		<div class="modal__content">
			<h4 class="title-info mb-1 light">{{modalTest.Heading}}</h4>
			<p class="paragraph thin s-2">{{modalTest.Message}}</p>
			<div class="wrap-btns">
				<a class="btn btn--link black" (click)="close()">NO</a>
				<button class="btn btn--save" [mat-dialog-close]="true">YES</button>
			</div>
		</div>
	</div>
</div>