@import '../../../scss/bases/settings';//variables & settings
@import '../../../scss/bases/extend';

:host(.m-marquee) {
	display: block;
	//height: 320px;
	height: 220px;
	background-color: $color-bg-dark;
	position: relative;
	padding-top: 25px; 
	padding-bottom: 25px; 
}
:host(.small) {
	height: 220px;
}


.m-marquee{
	&__wrap{
		height: 100%;
	}
	&__info{
		position: absolute;
		width: 250px;
		&__title{
			margin-bottom: 40px;
			font-size: 20px;
			font-family: $font-main-regular;
			font-weight: $font-main-weight-light;
		}
		&__group{
			margin-bottom: 25px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__main{
		width: 820px;
		max-width: 100%;
		margin: 0 auto;
		height: 100%;
		position: relative;

		&__page-title{
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;

		}
	}

}