<div class="m-marquee__wrap container-fluid">
	<div class="m-marquee__info">
		<h3 class="m-marquee__info__title heading--3 white">{{activeProspect.companyName}}</h3>
		<!-- <div class="m-marquee__info__group heading--4 white">
			<h4 class="title-info mb-1 light">Contact</h4>
			<h4 class="title-info white">Company Name</h4>
			<h4 class="title-info white">Employee</h4>
		</div> -->
		<div class="m-marquee__info__group heading--4 white">
			<h4 class="title-info mb-1 light">EE Count</h4>
			<h4 class="title-info white">{{activeProspect.employeeCount}}</h4>
		</div>
	</div>
	<div class="m-marquee__main">
		<!-- <h4 class="m-marquee__main__page-title title-info white center">Prospect Research</h4> -->
		<h1 class="heading--1 v-center white center">{{title}}</h1>
		<ng-content select="[content]"></ng-content>
		

	</div>
</div>