a {
	cursor: pointer;
}
input {
	border: none;
	border-radius: 0;
	outline: 0;
}
hr {
	height: 1px;
	margin: 30px 0;
	background-color: $color-border-light;
	border: none;
}
.main-link {
	color: inherit;
	text-decoration: underline;
}




ul.list {
	padding-left: 20px;
	li {
		margin-bottom: 15px;

		@extend .paragraph;
	}
	&--small{
		li{
			margin-bottom: 5px;
			font-size: 11px;
		}
	}
}


.wrap-search {
	position: relative;
	color: $font-color-main;
	&.is-active{
		.wrap-search__underline {
			width: 100%;
			opacity: 1;
		}
	}
	&__icon {
		position: absolute!important;
		top: 12px;
		left: 0;
	}
	&__search {
		position: relative;
		padding: 10px 10px 10px 35px;
		font-size: 14px;
		background-color: transparent;
		border: 1px solid transparent;
		&:active, &:focus, &:invalid {
			& ~ .wrap-search__underline {
				width: 100%;
				opacity: 1;
			}
		}
		&::placeholder {
			color: $font-color-light;
		}
	}
	&__underline {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 0;
		height: 1px;
		margin-right: auto;
		margin-left: auto;
		background-color: $color-main;
		opacity: 0;
		transition: opacity .2s, width .2s;
	}
}
.filter {
	.wrap-search {
		position: relative;
		top: -10px;
	}
}

.table-wrap {
	width: 100%;
	margin-bottom: 30px;
	overflow: auto;
	/* &:last-child{
		margin-bottom: 0;
		} */
		&--shadow {
			padding: 10px;
		}
		.table {
		}
		.wrap-btns {
			margin-top: 20px;
		}
		.add-row {
			padding: 10px 20px;
			text-align: center;
			cursor: pointer;
			background-color: $color-bg-dark;
			.btn {
				display: inline-block;
				color: #fff;
			}
		}
	}
	.table {
		width: 100%;
		&.table--center-cell {
			th, td {
				text-align: center;
			}
		}
		thead {
			tr {
				background-color: #fcfcfc;
				th {
					font-size: 10px;
					font-weight: $font-main-weight-sm;
					color: $font-color-light;
					text-align: left;
					text-transform: uppercase;
				}
			}
		}
		tbody {
			tr {
				background-color: #f1f8fe;
				&:nth-child(2) {
					background-color: #fcfcfc;
				}
				td {
					font-size: 12px;
					color: $font-color-main;
					text-align: left;
				}
			}
		}
		tr {
		}
		th, td {
			padding: 15px 20px;
		}
		th {
		}
		td {
		}
	}
	.table-shadow {
		width: 100%;
		font-size: 10px;
		vertical-align: middle;
		border-spacing: 0 20px;
		border-collapse: separate;
		thead {
			tr {
				th {
					padding-bottom: 0;
					font-size: 10px;
					font-weight: $font-main-weight-sm;
					color: $font-color-light;
					text-align: left;
					text-transform: uppercase;
				}
			}
		}
		tbody {
			tr {
				position: relative;
				margin-bottom: 5px;
				background-color: #fff;
				box-shadow: $box-shadow;
				&.edit-hover {
					&:hover {
						td {
							.edit-wrap {
								.dropdown {
									@extend .dropdown.is-open;
									@extend .dropdown--v-center.is-open;
								}
							}
						}
					}
				}
				td {
					font-size: 10px;
					font-weight: $font-main-weight-sm;
					color: $font-color-main;
					text-align: left;
					text-transform: uppercase;
					.title {
						margin-bottom: 5px;
						font-size: 14px;
						font-weight: $font-main-weight-light;
						text-transform: none;
					}
					.text {
					}
					.icon {
						display: block;
					}
					.edit-wrap {
						position: relative;
						.edit {
							height: 46px;
							padding: 15px 20px;
							cursor: pointer;
							&:hover {
								.icon {
									@extend .is-active;
								}
							}
							.icon {
								display: block;
								margin: 0 auto;
							}
						}
					}
				}
			}
		}
		tr {
		}
		th, td {
			padding: 15px 10px;
			&:first-of-type {
				padding-left: 20px;
			}
			&:last-of-type {
				padding-right: 20px;
				&.td-edit {
					padding: 0;
				}
			}
		}
		th {
			padding-top: 0;
		}
		td {
		}
	}
