
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
	margin: 0;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

//normalize pb
input[type='search'] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-appearance: none;
}

html {
	//font-size: 100%;
}
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	//overflow-x: hidden;

	-webkit-overflow-scrolling: touch;
	font-family: $font-main-regular;
	font-weight: normal;
	color: $font-color-main;
	background-color: #fff;
	word-wrap: break-word;
    word-break: break-word;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: always;
	text-rendering: optimizeLegibility !important;
	
	&.no-scroll{
		overflow: hidden;
	}
}
