/* ======================== SETTINGS 
*****base/settings.scss
========================= */

//----------class----------

.background-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.background-contain {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
/* .background-sprite {
	background-image: url(../../assets/images/shared/sprite-elements.png);
	background-repeat: no-repeat;
	background-size: 100px 100px;// 1/2 size of sprite
}
 */
.clearfix:before,
 .clearfix:after{
	display: table;
	content: ' ';
}
.clearfix:after,
 .container:after,
 .container-fluid:after,
 .row:after {
	clear: both;
}
