<app-page-loader *ngIf="!isLoaded"></app-page-loader>
<div class="container-fluid" style="z-index: 9;" *ngIf="isLoaded">
	<section class="m-information">
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">General Information</h4>
			</div>
			<!-- <div class="m-information__header__edit">
				<a class="edit" routerLink="/prospects/detail/edit">
					<span class="text">Edit</span><i class="fa fa-pencil" aria-hidden="true"></i>
				</a>
			</div> -->
		</header>
		<div class="m-information__content">
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Name</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.companyName}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Website</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.website}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Phone</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.phone}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Fax</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.fax}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Address</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2 mb-0">{{prospect.address}} {{prospect.postalCode}}</p>
					<!-- <p class="paragraph s-2 mb-0">Denvers, CO 80202</p>
					<p class="paragraph s-2 mb-0">P: 720-998-009</p> -->
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section class="m-information" >
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">Details</h4>
			</div>			
		</header>
		<div class="m-information__content">			
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">DBA</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.dba}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Employee Count</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.employeeCount}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Current PEO</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.currentPEO}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Benefits Carrier</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.benefitsCarrier}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">WC Carrier</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.wcCarrier}}</p>
				</div>
			</div>	
			
		</div>
	</section>
	<!-- <hr>
	<section class="m-information">
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">Current</h4>
			</div>
		</header>
		<div class="m-information__content">			
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">In hour services</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.inHouseService}}</p>
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">PEO Vendor</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.peoVendor}}</p>
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Payroll Vendor</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.payrollVendor}}</p>
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Insurance Carrier</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.insuranceCarrier}}</p>
				</div>
			</div>
			<div class="m-information__row" >
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Insurance Renewal Date</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.insuranceRenewalDate}}</p>
				</div>
			</div>			
		</div>
	</section>
	<hr> -->
	<!-- <section class="m-information" >
		<header class="m-information__header">
			<div class="m-information__header__title">
				<h4 class="heading--4 color-title">Notes</h4>
			</div>			
		</header>
		<div class="m-information__content">			
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Sales Note</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.salesNotes}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">NAIC / SIC</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.naiC_SIC}}</p>
				</div>
			</div>
			<div class="m-information__row">
				<div class="m-information__row__cell">
					<h4 class="title title-info light">Address Map</h4>
				</div>
				<div class="m-information__row__cell">
					<p class="paragraph s-2">{{prospect.addressMap}}</p>
				</div>
			</div>
		</div>
	</section> -->
</div>
