.error-mesg {
	margin-top: 10px;
}

.email-modal-wrap-center {
	display: flex;
	width: 100%;
	height: 200px;
	flex-direction: column;
}
.form-wrap {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;

	flex: 1;
}

.email-icon-wrap {
	display: flex;
	padding: 30px;
	position: relative;

	flex-grow: 1;
	align-items: center;
	justify-content: center;
	.title{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		text-align: center;
		margin: 0 auto;
	}
}
form {
	width: 100%;
}
