<div class="modal">
	<div class="modal__wrap">
		<div class="modal__content">
			<h4 class="title-info mb-1 light">Email</h4>
				<div class="email-modal-wrap-center" *ngIf="!isMailSending && !isMailSendingCompleted">
					<div class="form-wrap">
						<p class="paragraph thin s-2">Please enter your email address below to receive lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, deleniti.</p>
						<form #emailForm="ngForm" (ngSubmit)="submitEmail(emailForm);">
							<input type="text" class="textfield textfield--solo" 
										placeholder="Address" 
										type="email" 							
										name="receipientEmail" 
										#receipientEmail="ngModel" 
										email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
										ngModel required>
							<div class="error-mesg" [hidden]="receipientEmail.valid || receipientEmail.untouched">
								<div  *ngIf="receipientEmail.errors && receipientEmail.errors.required">Email is required</div>
								<div  *ngIf="receipientEmail.errors && receipientEmail.errors.pattern"> Email is invalid</div>
							</div>
							<div class="wrap-btns">
								<input type="submit" class="btn btn--save btn--large-l-r" value="Send">
								<!-- <a type="submit" class="btn btn--add btn--icon"><span class="icon spin-load__load" *ngIf="isMailSending" (click)="submitEmail(emailForm)"></span>Send</a> -->
							</div>
						</form>
					</div>
				</div>
				<div class="email-modal-wrap-center" *ngIf="isMailSending && !isMailSendingCompleted">
					<div class="m-loader v-center" >
						<div class="m-loader__loader"></div>
						<div class="m-loader__message" style="font-size: 12px;">In progress</div>
					</div>
				</div>
				<div class="email-modal-wrap-center" *ngIf="!isMailSending && isMailSendingCompleted">
					<div class="email-icon-wrap">
						<i class="icon icon--check small circle full green"></i>
						<h4 class="title heading--4 center">Complete!</h4>
					</div>
					<div class="wrap-btns">
						<div class="btn btn--save" (click)="close()">Close</div>
					</div>
				</div>
		</div>
	</div>
</div>