<div class="modal modal--fullscreen">
	<div class="modal-close" (click)="close()">
		<div class="modal-close__icon">
			<i class="icon icon--cross shadow"></i>
		</div>
		<div class="modal-close__text">Close</div>
	</div>
	<div class="modal__content modal__content--black">
		<div class="img-contain-container">
			<img [src]="data.image" alt="" class="img-contain">
		</div>

	</div>
</div>