<div class="page">
	<div class="page__menu">
		<div class="page__menu__logo"></div>
		<app-menu-navigation></app-menu-navigation>
	</div>
	<div class="page__wrap">
		<div class="page__content">
			<div class="container-fluid" style="z-index: 9;">

				<div class="page-title">{{prospects.length}} Prospects</div>


				<div class="clearfix">
					<div class="filter fl-l">
						<div class="wrap-search">
							<input type="text" class="wrap-search__search" placeholder="Search" [(ngModel)]="searchParam" >
							<i class="icon icon--search wrap-search__icon" (click)="onSearchClick()"></i>
							<span class="wrap-search__underline"></span>
						</div>
					</div>
					<!-- <div class="filter fl-r" dropdown>
						<div class="filter__title txt-one-line" dropdownToggler>Filter : {{activeFilter.Name}}<span class="icon-arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></div>
						<div class="dropdown dropdown--right" dropdownToggled>
							<ul class="dropdown__list">
								<li class="dropdown__item" >
									<a class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getFilterType('0')}" (click)="setFilterType('0')">
										<i class="icon icon--circle small all"></i>View All
									</a>
								</li>
								<li class="dropdown__item" >
									<a class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getFilterType('1')}" (click)="setFilterType('1')">
										<i class="icon icon--circle small pending"></i>Pending
									</a>
								</li>
								<li class="dropdown__item" >
									<a class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getFilterType('2')}" (click)="setFilterType('2')">
										<i class="icon icon--circle small new"></i>New
									</a>
								</li>
								<li class="dropdown__item" >
									<a class="dropdown__link txt-one-line" dropdownClose [ngClass]="{'is-active': getFilterType('3')}" (click)="setFilterType('3')">
										<i class="icon icon--circle small open"></i>Open
									</a>
								</li>
							</ul>
						</div>
					</div> -->
				</div>
				
				<div class="wrap-no-content" *ngIf="isLoaded && prospects.length == 0">
					<p class="paragraph s-2 center">Sorry, no results found.</p>
				</div>
				<div class="table-wrap table-wrap--shadow">
					<table class="table-shadow" *ngIf="isLoaded && prospects.length !=0">
						<thead>
							<tr>
								<th></th>
								<th>Company Info</th>
								<!-- <th class="t-a-c">Status</th> -->
								<th class="t-a-c">EE Count</th>
								<th>Contact Info</th>
								<th>Location</th>
								<th>DBA</th>
								<!-- <th></th> -->
							</tr>
						</thead>
						<tbody >
							<tr class="edit-hover cursor-p" *ngFor="let prospect of prospects" (click)="onProspectClick(prospect)">
								<td>
									<i class="icon icon--circle {{prospect.status | lowercase}}"></i>
								</td>
								<td>
									<div class="title">
										{{prospect.companyName}}
									</div>
									<div class="text">{{prospect.website}}</div>
									<div class="text">{{prospect.companyType}}</div>
								</td>
								<!-- <td class="t-a-c">{{prospect.status}}</td> -->
								<td class="t-a-c f-c-title">{{prospect.employeeCount}}</td>
								<td>
									<div class="text">{{prospect.phone}}</div>
									<div class="text">{{prospect.fax}}</div>
								</td>
								<td>
									<div class="text">{{prospect.address}}</div>
									<div class="text">{{prospect.postalCode}}</div>
								</td>
								<td>{{prospect.dba}}</td>
								
							</tr>
						</tbody>
					</table>
					<app-table-loader *ngIf="!isLoaded"></app-table-loader>
				</div>
			</div>
		</div>
	</div>
</div>
