<nav class="secondary-nav mb-20px">
	<h4 class="heading--4 mb-2 color-title">Actions</h4>
	<ul class="secondary-nav__list">
		<li class="secondary-nav__item">
			<a routerLink="/prospects/detail/general/{{activeProspect.uniqueId}}" routerLinkActive="is-active" class="secondary-nav__link txt-nav txt-nav--icon color-main">
				<span class="wrap-i-circle">
					<i class="icon fa fa-pencil" aria-hidden="true" style="width: 10px;"></i>
				</span>
				<span class="txt-nav__text">General</span>	
			</a>
		</li>
		<li class="secondary-nav__item">
			<a class="secondary-nav__link txt-nav txt-nav--icon color-main" (click)="researchModal()">
				<span class="wrap-i-circle">
					<i class="icon fa fa-folder-o" aria-hidden="true" style="width: 10px;"></i>
				</span>
				<span class="txt-nav__text">Home Work</span>	
			</a>
		</li>
		<li class="secondary-nav__item">			
			<a class="secondary-nav__link txt-nav txt-nav--icon color-main" (click)="questionaireModal()">
				<span class="wrap-i-circle">
					<i class="icon fa fa-file-text-o" aria-hidden="true" style="width: 10px;"></i>
				</span>
				<span class="txt-nav__text">Company Health Check</span>	
			</a>
		</li>
		<li class="secondary-nav__item">
			<a (click)="documentCaptureModal()" class="secondary-nav__link txt-nav txt-nav--icon color-main">
				<span class="wrap-i-circle">
					<i class="icon fa fa-camera" aria-hidden="true" style="width: 12px;"></i>
				</span>
				<span class="txt-nav__text">Document Capture</span>	
			</a>
		</li>
		
	</ul>
</nav>
<div class="summary-library" *ngIf="isInitialized">
	<h4 class="heading--4 mb-2 color-title">Home Work</h4>
	<div class="summary-library__group" *ngIf="!summaryInfo.isGenerated">
		<p class="paragraph bold light">NOT AVAILABLE. Please <a class="main-link" (click)="researchModal()">click here</a> to get started</p>
	</div>
	<div class="summary-library__group" *ngIf="summaryInfo.isGenerated">
		<div class="wrap-btns wrap-btns--left" >
			<a class="btn btn--link btn--no-p pink" (click)="viewSummary()">
				<span class="btn__text">View Summary</span>
			</a>
		</div>
	</div>
	<h4 class="heading--4 mb-2 color-title">Company Health Check</h4>
	<div class="summary-library__group" *ngIf="!activeProspectHealthInfo.isCompleted">		
		<p class="paragraph bold light">NOT AVAILABLE. Please <a class="main-link" (click)="questionaireModal()">click here</a> to get started</p>
	</div>
	<div class="summary-library__group" *ngIf="!activeProspectHealthInfo.isPdfCreated && activeProspectHealthInfo.isCompleted">
		<div class="wrap-btns wrap-btns--left">
			<a class="btn btn--link btn--no-p pink" [ngClass]="{'btn--icon': isCompanyHealthGenerating}" (click)="previewCompanyHealth()">
				<span class="icon icon--load-anim pink" *ngIf="isCompanyHealthGenerating"></span>
				<span class="btn__text">View Health Summary</span>
			</a>
		</div>
	</div>
	<div class="summary-library__group" *ngIf="activeProspectHealthInfo.isPdfCreated">
		<div class="wrap-btns wrap-btns--left" >
			<a class="btn btn--link btn--no-p pink" (click)="viewCompanyHealth()">
				<span class="btn__text">View Health Summary</span>
			</a>
		</div>
	</div>
</div>